<head>
  
    <meta charset="utf-8">
    <title>Register_SMAV</title>
  
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="css/group.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@900&display=swap" rel="stylesheet">
  
        
  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <style>

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
  </style>

  </head>
  
  
  
  <body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top navbar-fixed-top bg-light animated fadeinUp">

        <div class="container">
          <a class="navbar-brand" style="color: black;" href="/"> <img src="images/logo.png" height="50x" width="80px"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" 
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
          aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      
        
      
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
      
      
      
        <div class="nav-item dropdown">
          <a href="/" class="nav-link" style="color: black;"  >Home</a>
        
        </div>
      
        <li class="nav-item">
                <a class="nav-link test" style="color: black;" href="/whoSMAV">Who we are ?</a>
               </li>
      <li class="nav-item">
                <a class="nav-link" style="color: black;" href="/WhatWeDo">what we do ? </a>
              </li>
      
              <div class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" style="color: rgb(15, 101, 230);" data toggle="dropdown">Sign up</a>
              <div class="dropdown-menu">
                <a href="/sign_up_Individuals" class="dropdown-item">Indivuals</a>
                <a href="/sign_up_group" style="color: rgb(15, 101, 230);" class="dropdown-item">gruops</a>
                  
              </div>
            </div>
      </ul>
      </div>
      
      </div>
      </nav>
    

      <section style="height: 5rem;"></section>

      <div class="container ">
    
    <div class="card-body content" style="color: white;  text-align:left; ">
      <h1 style="text-align: center;"> <img src="images/logo.png" height="70x" width="100px"></h1>
   
      <% if (message) { %>
        <div class="alert alert-danger alert-dismissible fade show">
          <strong>!!خطأ</strong> الايميل او رقم الهوية مستخدم 
  
  

              <button type="button" class="close" data-dismiss="alert">&times;</button>
        
  
      </div>
    <% } %>


    <% if (message2) { %>
        <div class="alert alert-success alert-dismissible fade show">
       <a href="/">   للعودة من هنا </a>تم ارسال البيانات  
  
              <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    <% } %>



    <form action="/login_admin" method="POST" >
       
        <aside  class="col-lg-12" >


          <div class="card">
          <article class="card-body">
            <h4 class="card-title text-center mb-4 mt-1">تسجيل دخول</h4>
            <hr>

            <form>
            <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                  <span class="input-group-text"> <i class="fa fa-user"></i> </span>
               </div>
              <input name="email" class="form-control" placeholder="Email or login" type="email">
            </div> <!-- input-group.// -->
            </div> <!-- form-group// -->
            <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                  <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
               </div>
                <input name="password" class="form-control" placeholder="******" type="password">
            </div> <!-- input-group.// -->
            </div> <!-- form-group// -->
            <div class="form-group">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button type="submit" class="btn btn-primary btn-block"> سجل هنا  </button>
            </div> <!-- form-group// -->
            <p class="text-center"><a href="/groupReset" class="btn">أنسيت كلمة المرور؟</a></p>

            <p class="text-center"><a href="/sign_up_group" class="btn">اذا ليس لديك حساب ؟ </a></p>
            

            </form>

          </article>
          </div> <!-- card.// -->
        </form>
  

                  </div> 
                </div> 

         

                
           
      
            
  

  
  </body>
  
  
  
  
  


