<style>
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>
<footer id="footer" class="animated fadeinDown">
    <div class="container">
        <div class="row" data-aos="fade-up">
            <div class="col-md-3">
                <!-- <i style="color: #2083c6;">Connect with us </i> -->
                <div class="social-media">
                    <a target="_blank" href="https://www.facebook.com/SMAV.SA">@SMAV.SA<i class="fab fa-facebook fa-2x"></i></a>
                    <a target="_blank" href="https://twitter.com/smav_sa">@smav_sa<i class="fab fa-twitter fa-2x"></i></a>
                    <a target="_blank" href="https://instagram.com/smav_sa">@smav_sa<i class="fab fa-instagram fa-2x"></i></a>
                </div>
            </div>
            <div class="col-md-3 ">
                <!-- <i style="color: #2083c6;"  >Explorer</i> -->
                <p><b><a href="/">الصفحة الرئيسة</a></b></p>
                <p><b><a href="sign_up_Individuals">تسجيل الأفراد</a></b></p>
                <p><b><a href="sign_up_group">تسجيل المجموعات</a></b></p>
                <!-- <p><b><a href="./WhatWeDo.html" style="text-align:right;">برامجنا </a></b></p> -->
            </div>
            <div class="col-md-3" >
                <!-- <i style="color: #2083c6;">Visit</i> -->
                <p> <i class="fas fa-envelope"></i> smav@dmet.edu.sa </p>
                <p> <i class="fas fa-phone"></i><label style="direction: ltr;">+966- 566291219 </label>    </p>
                <p> <i class="fas fa-map-marker-alt"></i>الرياض - مجمع ريادة الاعمال </p>
                <p><i class="fas fa-map-marker-alt"></i>مكة المكرمة - حي النسيم</p>
            </div>


            <div class="col-md-3 ">
                <p style="text-align: center;">
                    {وَمَنْ أَحْيَاهَا فَكَأَنَّمَا أَحْيَا النَّاسَ جَمِيعًا}
                </p>
                <img src="images/white-logo-png.png" class="center">
            </div>

        </div>
    </div>
    <p class="copy" style="direction: ltr;">© Copyright 2021 SMAV | <a href="#"> Terms and Condations</a></p>
</footer>