<style>
  .center {
  display: block;
  margin-left: auto;
  margin-right: auto;

}
</style>
 <footer id="footer" class="animated fadeinDown" >
  

  <div class="container">


 
  
    <div class="row" data-aos="fade-up">
      <div class="col-md-3 " style="text-align: right;" >


        <img src="images/SMAV_LOGO.png" height="90px" width="70px" style="text-align: center;" class="center">
        <p style="text-align: center;">
          {وَمَنْ أَحْيَاهَا فَكَأَنَّمَا أَحْيَا النَّاسَ جَمِيعًا}
              </p>
 
 
    </div>
  
    <div class="col-md-3 " style="text-align: center;" >
      <i style="color: #2083c6;" style="text-align: right;" >Explorer</i>
      <p><b><a href="/" style="color:ccc;" style="text-align: right;"  >الصفحة الرئيسية</a></b></p>
      <p><b><a href="/whoSMAV" style="color:ccc;" style="text-align: right;" >من نحن  </a></b></p>
      
      <p><b><a href="/WhatWeDo" style="color:ccc;"  style="text-align:right ;" >برامجنا </a></b></p>
      
  
    </div>
  
    <div class="col-md-3" style="text-align: center;" >
  
      <i style="color: #2083c6;">Visit</i>
      <p> الرياض - مجمع ريادة الاعمال <i class="fas fa-map-marker-alt">  </i>  </p>
      <p> مكة المكرمة - حي النسيم <i class="fas fa-map-marker-alt">   </i>    </p>
      <p> +966 56 629 1219 <i class="fas fa-phone"></i> </p>
      <p> smav@dmet.edu.sa <i class="fas fa-envelope"></i> </p>
      
     
     
    </div>
  
  
    <div class="col-md-3" style="text-align: center;" >
      <i style="color: #2083c6;">Connect with us </i>
      <p>
        <i class="fab fa-facebook fa-2x"></i>
        <i class="fab fa-twitter fa-2x"></i>
        <i class="fab fa-instagram fa-2x"></i>
      </p>
    
  
    
    </div>
   
    </div>

     </div>
  
  
  
  
  
  
  
      <p class="copy" style="text-align: center; color: #ccc;">© Copyright 2021 SMAV| <a href="#" style="color: #ccc;"> terms and Condations</a></p>
    
    
  
  
    
  </footer>