
 <footer id="footer" class="animated fadeinDown" >
  
  
  
  
  
  
    <div class="row" data-aos="fade-up">
      <div class="col-md-3 ">
      <i>Saudi meidcal academic volunteer </i>
      <p>
        ومن احياها فكأنما احيا الناس جميعا
      </p>
  
  
    </div>
  
    <div class="col-md-3 " >
      <i>Explorer</i>
      <p><b><a href="#" >Home</a></b></p>
      <p><b><a href="#" >About</a></b></p>
      <p><b><a href="#" >what we do? </a></b></p>
      <p><b><a href="#" >who we are ? </a></b></p>
  
    </div>
  
    <div class="col-md-3" >
  
      <i>Visit</i>
      <p> <i class="fas fa-map-marker-alt">  </i> الرياض -واجهة المنشآت</p>
      <p> <i class="fas fa-map-marker-alt">   </i> مكة المكرمة - حي العوالي  </p>
      <p><i class="fas fa-envelope"></i> dmet@dmet.edu.sa</p>
     
     
    </div>
  
  
    <div class="col-md-3" >
      <i>Connect with us </i>
      <p>
        <i class="fab fa-facebook fa-2x"></i>
        <i class="fab fa-twitter fa-2x"></i>
        <i class="fab fa-instagram fa-2x"></i>
      </p>
    
  
    
    </div>
   
    </div>
  
  
  
  
  
  
  
      <p class="copy" style="text-align: center; color: black;">© Copyright 2021 SMAV| <a href="#"> terms and Condations</a></p>
    
    
  
  
    
  </footer>