

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    

    <a href="/display_group"> المجموعات </a>

    <a href="/display_idea"> افكار  </a>




      <a href="/display_users"> افراد  </a>




      




      <a href="accept_users_excel" target="_block">  excel_users  </a>

      <a href="accept_Groups_excel" target="_block"> Groups_Excel  </a>

      <a href="ideas_excel" target="_block"> ideas  </a>


      <a href="evalute_excel" target="_block"> Evaluation  </a>



      


      <a href="https://data.page/json/csv" target="_block"> تحويل الى اكسل   </a>




      



      

  


 

    <%  if(isAuthenticated){%>
      <form id="magic-form" action="/logout" method="POST">
        <input type="hidden" name="_csrf" value=<%=csrfToken%> 
        <input type="text">

</form>
<%  }%>

      <a href="/logout"
      onclick="event.preventDefault();
      document.getElementById('magic-form').submit();">
      تسجيل خروج 
    </a>
   
      


 

  </div>
  

  <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span>
  
  <script>
  function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
  }
  
  function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
  }
  </script>