

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    

    <a href="/display_group"> المجموعات </a>



      <a href="/display_users"> افراد  </a>


      <a href="/display_usersAccept"> المقبولين  </a>

      <a href="/display_usersRefuse"> المرفوضين   </a>

      <a href="/display_usersWait"> في الانتظار  </a>



      


      <a href="accept_users_excel"> excel  </a>

  


 

    <%  if(isAuthenticated){%>
      <form id="magic-form" action="/logout" method="POST">
        <input type="hidden" name="_csrf" value=<%=csrfToken%> 
        <input type="text">

</form>
<%  }%>

      <a href="/logout"
      onclick="event.preventDefault();
      document.getElementById('magic-form').submit();">
      تسجيل خروج 
    </a>
   
      


 

  </div>
  

  <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span>
  
  <script>
  function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
  }
  
  function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
  }
  </script>