<head>
    <meta charset="utf-8">
    <title>SMAV</title>
    
    <link rel = "icon" class="animated fadeinUp" href = "images/SMAV_LOGO.png" type = "images/x-icon">
  
  
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/v4-shims.css">
    
    <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">

    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/Soon.css">
    <link rel="stylesheet" href="css/main_style.css">


    





  
  </head>


 <body>

  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>





<nav class="navbar navbar-expand-lg navbar-light fixed-top navbar-fixed-top bg-light animated fadeinUp">

    <div class="container">
      <a class="navbar-brand" style="color: black;" href="/"> <img src="images/SMAV_LOGO.png" height="100x" width="80px"></a>
      

      <button class="navbar-toggler" type="button" data-toggle="collapse" 
      data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
      aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
    
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
  <li class="nav-item active">
  
  
  


    <li class="nav-item">
      <a class="nav-link" style="color: blueviolet;;" href="/SMAV_MATCH">SMAV MATCH</a>
     </li>


    <div class="nav-item dropdown">
      <a href="#" class="nav-link dropdown-toggle" style="color: rgb(15, 101, 230);" data toggle="dropdown">الصفحة الرئيسية</a>
      <div class="dropdown-menu">
        <a href="#WhSMAV" class="dropdown-item">ماهي سماف</a>
          <a href="#Goals" class="dropdown-item">اهدافنا</a>
          <a href="#footer" class="dropdown-item">التواصل  </a>
          
      </div>
    </div>
  
    <li class="nav-item">
            <a class="nav-link test" style="color: black;" href="/whoSMAV">من نحن ؟</a>
           </li>

           
 
           
  <li class="nav-item">
            <a class="nav-link" style="color: black;" href="/WhatWeDo">برامجنا  </a>
          </li>
  

 
          <div class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" style="color: black;" data toggle="dropdown">التسجيل </a>
          <div class="dropdown-menu">
            <a href="/sign_up_Individuals" class="dropdown-item">افراد </a>
            <a href="/sign_up_group" class="dropdown-item">مجموعات</a>

              
          </div>
        </div>

     
      

       
  </ul>
  </div>
  
  </div>
  </nav>

  

<section id="h"></section>

<section id="soon">



    
<h1>


    ....قريباً 
</h1>


</section>
  <!-- ///// -->


</body>



  

<%- include('./includes/footer') %>
  


