<head>
    <meta charset="utf-8">
    <title>SMAV</title>
    
    <link rel = "icon" class="animated fadeinUp" href = "images/SMAV_MATCH/logo_match.png" type = "images/x-icon">

   
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/v4-shims.css">

    <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Cairo:wght@900&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@100&display=swap" rel="stylesheet">


    

    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  
  
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/smav_match.css">
    <link rel="stylesheet" href="css/main_style.css">
  

  </head>
  
  <body>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
 
  
  <nav class="navbar navbar-expand-md navbar-light fixed-top navbar-fixed-top bg-light animated fadeinUp">
    <div class="container">
      <a class="navbar-brand" style="color: black;" href="/"> <img src="images/SMAV_MATCH/logo_match.png" height="100x" width="80px"></a>
      

    
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
    
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
  <li class="nav-item active">


   

       <div class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" style="color: rgb(15, 101, 230);" data toggle="dropdown">SMAV MATCH</a>
        <div class="dropdown-menu">
          <a href="#title" class="dropdown-item"> ماهي سماف مجتمعي ؟
             </a>
            <a href="#Goals" class="dropdown-item">

              اهدافنا
            </a>
            
            <a href="#proramm_SMAV" class="dropdown-item"> 
              
              في البرنامج
            </a>

            <a href="#paths" class="dropdown-item"> 
            الرحلة التعليمية  
            </a>


            <a href="#Registers_requir" class="dropdown-item">  
              متطلبات التسجيل 
            </a>


            <a href="#subecrip" class="dropdown-item">  

              شركاؤنا
            </a>
            
        </div>
      </div>

    <li class="nav-item">
        <a class="nav-link" style="color: black;" href="/">الصفحة الرئيسية</a>
       </li>
  
    <li class="nav-item">
            <a class="nav-link" style="color: black;" href="/whoSMAV">من نحن </a>
           </li>

           <li class="nav-item">
            <a class="nav-link" style="color: black;;" href="WhatWeDo"> برامجنا</a>
           </li>

       
            <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" style="color: black;" data toggle="dropdown">التسجيل </a>
            <div class="dropdown-menu">
              <a href="/sign_up_Individuals" class="dropdown-item">افراد</a>
              <a href="/sign_up_group" class="dropdown-item">مجموعات</a>

  
                
            </div>
          </div>
  
  

  
  


  

  </ul>
  </div>
  </div>
  </nav>




  <section id="tire"></section> 
  
  
  <section id="title" >
    <div class="container"  data-aos="fade-up">

   

   
 

      <div class="row">
      <div class="col-lg-6">
  
  
<img src="images/SMAV_MATCH/front.jpg" class="img-fluid" style="padding-top: 5rem;">
  
        
      </div>

      <div class="col-lg-6">
  
  
        <p class="mobiling animated fadeInUp ease-out-circ d2 a-1 f2 fw3" style="color: white; " >  برنامج مخصص للمتطوعين الصحيين الذين لديهم شغف للعمل التطوعي وخدمة المجتمع
يركز البرنامج على تأسيس المعارف والوعي وبعض المهارات الأساسية للمتطوع في البرامج الصحية والخدمات الموجهة للفئات الضعيفة في المجتمع  و يركز على بناء جدارات المتطوع و توجيه وعيه ومواهبه لرسم مساره التطوعي وتصميم فرصته التطوعية   
      </p>

  

      
    </div>
  </div>

    </section>
  
    <section id="tire"></section> 
        
    <section id="Goals">
  
      <div class="row ">
  
       <div class="col-md-12">
          <h1 class="animated fadeinUp" style="text-align: center; font-family: 'Cairo', sans-serif; color: black;"   > أهدافنا </h1>
          <p class="animated fadeinUp" style="text-align: center; color: black;">
           : تزويد المتطوعين الصحيين بالمعرفة والمهارات اللازمة لـ 
          </p>
  
        </div>
     
          <div class="col-lg-4 animated fadeinLeft">
            <i class="fas fa-tasks fa-4x icon_about icon" data-aos="fade-up"></i>
                
                <p class="justify"  data-aos="fade-up" style="color: black;"> 
                  تنفيذ المهام والخدمات الصحية في البرامج القائمة مع الجهات المعنية وتلك التي تقدم خدمات للفئات الضعيفة

                </p>
        </div>


        <div class="col-lg-4 animated fadeinLeft" >
          <i class="fas fa-file fa-4x icon_about icon" data-aos="fade-up"></i>
              
              <p class=" justify"  data-aos="fade-up" style="color: black;">
                
                تصميم وتنفيذ البحوث العلمية حول القضايا الصحية للفئات الضعيفة
              </p>
        </div>


        <div class="col-lg-4 animated fadeinLeft" >
          <i class="fas  fa-pencil-ruler fa-4x icon_about icon" data-aos="fade-up"></i>
              
              <p  data-aos="fade-up " style="color: black;">
                
                تصميم المبادرات والبرامج والخدمات الصحية للفئات الضعيفة على أساس فهم الاحتياج

              </p>
        </div>  
 
        

    </div>
    </section>
    <section id="tire"></section> 
  
  <section id="proramm_SMAV">

    <div class="row ">
  
      <div class="col-md-12">
         <h1 class="animated fadeinUp" style="text-align: center; font-family: 'Cairo', sans-serif; color: white;"   > في البرنامج </h1>
         <p class="animated fadeinUp" style="text-align: center; color: white;">
          : تزويد المتطوعين الصحيين بالمعرفة والمهارات اللازمة لـ 
         </p>
 
       </div>


         <div class="col-lg-4 animated fadeinLeft">
           <i class="fas fa-clinic-medical fa-4x icon_programm icon" data-aos="fade-up"></i>
               
               <p class="justify"  data-aos="fade-up" style="color: white;"> ١٢

                 وحدة تعليمية لمواضيع  مرتبطةً بالتطوع الصحي المجتمعي 

               </p>
       </div>

       <div class="col-lg-4 animated fadeinLeft" >
         <i class="fas fa-laptop-medical fa-4x icon_programm icon" data-aos="fade-up"></i>
             
             <p class=" justify"  data-aos="fade-up" style="color: white;">٢٨
               ساعة تعليم طبي معتمد
               

            </p>
       </div>


       <div class="col-lg-4 animated fadeinLeft" >
         <i class="fas fa-user-md fa-4x icon_programm icon" data-aos="fade-up"></i>
             
             <p  data-aos="fade-up" style="color: white;">١٠ 
               
              متحدثين من الخبراء والمتخصصون والمستشارون 

             </p>
       </div>  

       

   </div>



  
  
  </section>


  <section id="tire"></section> 
  
  
  <section id="paths" class="animated fadeinDown">


    <div class="row ">
  
      <div class="col-md-12">
         <h1 class="animated fadeinUp" style="text-align: center; font-family: 'Cairo', sans-serif; color: #ffffff;"   >  الرحلة التعليمية 
        </h1>
 
 
       </div>
    
     

       <div class="col-lg-4 animated fadeinLeft" >
         <i class="fas fa-hand-holding-heart fa-4x icon_paths icon" data-aos="fade-up"></i>
             
             <p  data-aos="fade-up" style="color: white;">
               
              التطبيق العملي 
              مشروع الاجتياز 
              
             </p>
       </div>  


       <div class="col-lg-4 animated fadeinLeft" >
        <i class="fas fa-umbrella fa-4x icon_paths icon" data-aos="fade-up"></i>
            
            <p class=" justify"  data-aos="fade-up" style="color: white;">
             اللقاءات التفاعلية المباشرة
           <p data-aos="fade-up" style="color: white;">
            Webinar
           </p>   
             
              

           </p>
      </div>




       <div class="col-lg-4 animated fadeinLeft">
        <i class="fas fa-running fa-4x icon_paths icon" data-aos="fade-up"></i>
            
            <p class="justify"  data-aos="fade-up" style="color: white;"> 

             التعلم الذاتي 
             ( المنصة التعليمية)
             
            </p>
    </div>

       

   </div>

</div>
  </section>

  <section id="tire"></section> 
  <section id="inst" class="animated fadeinDown">

    <div data-aos="fade-up">
    <h1 style="text-align: center; font-family: 'Cairo', sans-serif;" class="animated fadeinLeft"> المدربين </h1>
<div class="container">
<div class="row" >

  
  <div class="col-md-4" data-aos="fade-up">
    <img class="inst-image img-fluid img-sty2" src="images/SMAV_MATCH/Speakers/ahmed_h.png" >
    <p style="font-size: larger; font-weight: bold; font-family: 'Cairo', sans-serif;" > د.احمد هوساوي  </p>
    <p style="font-size: medium;  font-family: 'Cairo', sans-serif;">

      الرئيس التنفيذي للتمريض في مجموعة فقيه 
    </p>
    
  </div>

  <div class="col-md-4" data-aos="fade-up">
    <img class="inst-image img-fluid img-sty2" src="images/SMAV_MATCH/Speakers/attar.png" >
    <p style="font-size: larger; font-weight: bold; font-family: 'Cairo', sans-serif;">  د.عمار عطار  </p>
    <p style="font-size: medium;  font-family: 'Cairo', sans-serif;">

      استاذ طب المجتمع المساعد بجامعة ام القرى 
    </p>
  </div>
  <div class="col-md-4" data-aos="fade-up">
    <img class="inst-image img-fluid img-sty2" src="images/SMAV_MATCH/Speakers/safar.png">
    <p style="font-size: larger; font-weight: bold; font-family: 'Cairo', sans-serif;">  د.سفر بتار </p>
    <p style="font-size: medium;  font-family: 'Cairo', sans-serif;">

      مدير عام مركز الطتوع الصحي بوزارة الصحة 
    </p>
  </div>
 




</div>
</div>

</div>
  </section>


  <section id="tire"></section> 


  <section id="Registers_requir">
  
    <div class="row ">

      <div class="col-md-6">

     

     <div class="col-md-12">
        <h1 class="animated fadeinUp" style="text-align: center; font-family: 'Cairo', sans-serif; color: black;"  > متطلبات الانضمام للبرنامج  
        </h1>

      </div>
     

 
        <p class=" justify" data-aos="fade-up" style="color: black;" >
          الشغف بالتطوع
        </p>
    


         
            <p class=" justify"  data-aos="fade-up" style="color: black;">
              التخصص الصحي
            </p>


   
            <p class="justify"  data-aos="fade-up" style="color: black;">
              الإلمام العلمي بمجال التخصص
            </p>


          
            <p  data-aos="fade-up" style="color: black;">
              
              الانضمام لجهة / برنامج تطوعي

            </p>

          
            <p  data-aos="fade-up" style="color: black;">
              
              الوقت للالتزام بالأنشطة والمهام

            </p>
  
      

   


  </div>

  <div class="col-md-6">


    <div class="row ">
    <div class="col-md-12">
       <h1 class="animated fadeinUp" style="text-align: center; font-family: 'Cairo', sans-serif; color: black;"  > للتسجيل </h1>

     </div>


     <div class="col-lg-6 animated fadeinLeft" >
      <a href="sign_up_group" style="color: black;"><i class="fas fa-users fa-4x icon_Reg icon" data-aos="fade-up"></i></a>
          
         <p>


          <a href="/sign_up_group" style="color: black;" data-aos="fade-up">
            
            للمجموعات
           
          </a>

        </p>
    </div>  


    <div class="col-lg-6 animated fadeinLeft" >
      <a href="/sign_up_Individuals" style="color: black;"><i class="fas fa-user fa-4x icon_Reg icon" data-aos="fade-up"></i></a>
      <p>
          <a href="/sign_up_Individuals"  style="color: black;" data-aos="fade-up">
            
            للافراد
           
          </a>
        </p>

    </div>  

  </div>











     

  


 </div>


</div>


  </section>


  <section id="tire"></section> 

      <section id="subecrip" class="animated fadeinDown">

        <div data-aos="fade-up">
        <h1 style="text-align: center; font-family: 'Cairo', sans-serif; color: white;" class="animated fadeinLeft"> شركاؤنا </h1>
    <div class="container">
    <div class="row" >
    

     

    
      
      <div class="col-md-4" data-aos="fade-up">
        <img class="paths-image img-fluid " src="images/logos/commis.png" >
      </div>

   
    
    
      <div class="col-md-4" data-aos="fade-up">
        <img class="paths-image img-fluid " src="images/logos/binMah.png" >
    
      </div>
    
    
    

    
    



      <div class="col-md-4" data-aos="fade-up">
        <img class="paths-image img-fluid "   src="images/logos/dmet2.png" >
    
      </div>
    
    
  
    
    </div>
    </div>
    
    </div>
      </section>




 

  <%- include('./includes/footer') %>

</body>
  




  <script>
  
  
  $(function () {
    $(document).scroll(function () {
      var $nav = $(".navbar-fixed-top");
      $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
    });
  });


  $(document).ready(function(){
    $(".dropdown").hover(function(){
        var dropdownMenu = $(this).children(".dropdown-menu");
        if(dropdownMenu.is(":visible")){
            dropdownMenu.parent().toggleClass("open");
        }
    });
  });  
  </script>