<head>
    <meta charset="utf-8">
    <title>SMAV</title>
    
    <link rel = "icon" class="animated fadeinUp" href = "images/SMAV_MATCH/logo_match.png" type = "images/x-icon">

   
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/v4-shims.css">

    <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Cairo:wght@900&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@100&display=swap" rel="stylesheet">


    

    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  
  
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/smav_match.css">
    <link rel="stylesheet" href="css/main_style.css">
  

  </head>
  
  <body>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
 
  
  <nav class="navbar navbar-expand-md navbar-light fixed-top navbar-fixed-top bg-light animated fadeinUp">
    <div class="container">
      <a class="navbar-brand" style="color: black;" href="/"> <img src="images/SMAV_MATCH/logo_match.png" height="100x" width="80px"></a>
      

    
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
    
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
  <li class="nav-item active">


   

       <div class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" style="color: rgb(15, 101, 230);" data toggle="dropdown">SMAV MATCH</a>
        <div class="dropdown-menu">
          <a href="#title" class="dropdown-item"> ماهي سماف مجتمعي ؟
             </a>
            <a href="#Goals" class="dropdown-item">

              اهدافنا
            </a>
            
            <a href="#proramm_SMAV" class="dropdown-item"> 
              
              في البرنامج
            </a>

            <a href="#paths" class="dropdown-item"> 
            الرحلة التعليمية  
            </a>


            <a href="#Registers_requir" class="dropdown-item">  
              متطلبات التسجيل 
            </a>


            <a href="#subecrip" class="dropdown-item">  

              شركاؤنا
            </a>
            
        </div>
      </div>

    <li class="nav-item">
        <a class="nav-link" style="color: black;" href="/">الصفحة الرئيسية</a>
       </li>
  
    <li class="nav-item">
            <a class="nav-link" style="color: black;" href="/whoSMAV">من نحن </a>
           </li>

           <li class="nav-item">
            <a class="nav-link" style="color: black;;" href="WhatWeDo"> برامجنا</a>
           </li>

       
            <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" style="color: black;" data toggle="dropdown">التسجيل </a>
            <div class="dropdown-menu">
              <a href="/sign_up_Individuals" class="dropdown-item">افراد</a>
              <a href="/sign_up_group" class="dropdown-item">مجموعات</a>

  
                
            </div>
          </div>
  
  

  
  


  

  </ul>
  </div>
  </div>
  </nav>




  <section id="tire"></section> 
  
  
  <section id="title" >
    <div class="container"  data-aos="fade-up">

   

   
 

      <div class="row">
      <div class="col-lg-6">
  
  
<img src="images/SMAV_MATCH/front.jpg" class="img-fluid" style="padding-top: 5rem;">
  
        
      </div>

      <div class="col-lg-6">
  
  
        <p class="mobiling animated fadeInUp ease-out-circ d2 a-1 f2 fw3" style="color: white; " > 
          أكاديمية تأهيل متكامل للراغبين في التطوع الطبي الإغاثي من الحقل الصحي لخلق الدافع الذاتي و رفع وعيهم و كفاءتهم في الجوانب الأخلاقية والعملية والمهنية
           لتقديم العمل الإنساني الطبي الإغاثي  وتمكينهم من تقييمه وتطويره و المساهمة في تجويد مستواه       </p>

  

      
    </div>
  </div>

    </section>
  
    <section id="tire"></section> 
        
    <section id="Goals">
  
      <div class="row ">
  
       <div class="col-md-12">
          <h1 class="animated fadeinUp" style="text-align: center; font-family: 'Cairo', sans-serif; color: black;"   > أهدافنا </h1>
          <p class="animated fadeinUp" style="text-align: center; color: black;">
           : تزويد المتطوعين الصحيين بالمعرفة والمهارات اللازمة لـ 
          </p>
  
        </div>
     
          <div class="col-lg-6 animated fadeinLeft">
            <i class="fas fa-tasks fa-4x icon_about icon" data-aos="fade-up"></i>
                
                <p class="justify"  data-aos="fade-up" style="color: black;"> 
                  تمكين المتطوع الصحي بالجدارات المعرفية والأدائية اللازمة لتقديم الخدمة الطبية في المجتمعات المنكوبة والمخيمات الطبية 

                </p>
        </div>


        <div class="col-lg-6 animated fadeinLeft" >
          <i class="fas fa-file fa-4x icon_about icon" data-aos="fade-up"></i>
              
              <p class=" justify"  data-aos="fade-up" style="color: black;">
                
                تمكين المتطوع الصحي لقيادة الإغاثة الطبية الطارئة والمستمرة                
              </p>
        </div>


  
 
        

    </div>
    </section>
    <section id="tire"></section> 




  <section id="Registers_requir">
  
    <div class="row ">

      <div class="col-md-6">

     

     <div class="col-md-12">
        <h1 class="animated fadeinUp" style="text-align: center; font-family: 'Cairo', sans-serif; color: black;"  >
          
          متطلبات الانضمام للبرنامج  
        </h1>

      <p class="animated fadeinUp" style="text-align: center; font-family: 'Cairo', sans-serif; color: black;">
        هذه الأكاديمية لكل من لديه الرغبة في العمل الإغاثي الطبي وتنمية وتطوير الإغاثة الطبية والتطوع الخارجي ويشمل: 
      </p>

      </div>
     

 
        <p class=" justify" data-aos="fade-up" style="color: black;" >
          	المتطوعون الصحيون من الممارسين 
                </p>
    


         
            <p class=" justify"  data-aos="fade-up" style="color: black;">
              
              الأفراد أو المجموعات الذين يبحثون عن فهم أكثر للعمل الإغاثي الطبي       
                  </p>


   
            <p class="justify"  data-aos="fade-up" style="color: black;">
   	من سبق لهم المشاركة في المنظمات الإغاثية الحكومية ممن يمتلكون الرغبة في التنمية الدولية والصحة العامة 
            </p>


          
            <p  data-aos="fade-up" style="color: black;">
              
              	الطلاب والأكاديميون في الكليات الصحية 
            </p>

       
      

   


  </div>




</div>


  </section>


  <section id="tire"></section> 

      <section id="subecrip" class="animated fadeinDown">

        <div data-aos="fade-up">
        <h1 style="text-align: center; font-family: 'Cairo', sans-serif; color: white;" class="animated fadeinLeft"> شركاؤنا </h1>
    <div class="container">
    <div class="row" >
    

     

    
      
      <div class="col-md-4" data-aos="fade-up">
        <img class="paths-image img-fluid " src="images/logos/commis.png" >
      </div>

   
    
    
      <div class="col-md-4" data-aos="fade-up">
        <img class="paths-image img-fluid " src="images/logos/binMah.png" >
    
      </div>
    
    
    

    
    



      <div class="col-md-4" data-aos="fade-up">
        <img class="paths-image img-fluid "   src="images/logos/dmet2.png" >
    
      </div>
    
    
  
    
    </div>
    </div>
    
    </div>
      </section>




 

  <%- include('./includes/footer') %>

</body>
  




  <script>
  
  
  $(function () {
    $(document).scroll(function () {
      var $nav = $(".navbar-fixed-top");
      $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
    });
  });


  $(document).ready(function(){
    $(".dropdown").hover(function(){
        var dropdownMenu = $(this).children(".dropdown-menu");
        if(dropdownMenu.is(":visible")){
            dropdownMenu.parent().toggleClass("open");
        }
    });
  });  
  </script>