<body>
    <h1 style="text-align: center;">Thank you for registering for the 2nd Virtual Pediatric Intensive Review Course.</h1>

    <p style="text-align: center;">
        
    
    We are happy to confirm your registration.
    We would like to inform you that you will receive an email with a special link to the course platform, 48 hours before the start of the course that will allow you to access the course stream.
    </p>
    
    
    <p style="text-align: center; font-size: large; font-weight: bold;">
    Note: You will need to have a computer or a mobile device with a good internet connection to enjoy an uninterrupted experience. <br>
    Prepare your quiet studying place and be ready with your notebook to get the maximum benefit from our distinguishable speakers.
    </p>
    
    <p style="text-align: center; font-size: large;">
    The link will require you to register with your email before you start, so please use the same email that you used to register and make your payment. <br>
    If you use another email you will not be able to join.<br> 
    Furthermore, the subscription is valid for one person only as you can access the course on only one device at a time.
    
    </p>
    
    <p style="text-align: center; font-size: large;">
    The course will be conducted from 22 of August to 1st of September 2021 from Sunday to Wednesday.
    </p>
    
    <h2 style="text-align: center;">
        Darb Almfaz and the organizing committee, wish you a pleasant and rich educational experience.
    
    </h2>

</body>

