<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>SMAV | What We Do</title>
    <link rel="icon" class="animated fadeinUp" href="images/SMAV_LOGO.png" type="images/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/v4-shims.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/whD.css?v=3">
    <link rel="stylesheet" href="css/main_style.css?v=3">
    <link rel="stylesheet" href="css/main.css?v=3">
</head>

<body>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top navbar-fixed-top bg-light animated fadeinUp">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="SMAV_MATCH">SMAV MATCH</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="whatwedo">برامجنا</a>
                    </li>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data toggle="dropdown">التسجيل </a>
                        <div class="dropdown-menu">
                            <a href="/sign_up_Individuals" class="dropdown-item">افراد </a>
                            <a href="/sign_up_group" class="dropdown-item">مجموعات</a>
                        </div>
                    </div>
                    <li class="nav-item">
                        <a class="nav-link" href="/">الصفحة الرئيسة</a>
                    </li>
                </ul>
            </div>
            <a class="navbar-brand" href="/">
                <img alt="SMAV Academy" id="header-logo" src="images/LOGO-01.png">
            </a>
        </div>
    </nav>

    <div id="margin-corrector"></div>
    <section id="WhSMAV">
        <div class="container" data-aos="fade-up">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="animated fadeInUp ease-out-circ d2 a-1 f2 fw3"> برامجنا </h1>
                </div>
                <div class="col-lg-4 animated fadeinLeft green">
                    <i class="fas fa-tint fa-4x icon_medthod icon" data-aos="fade-up">
    </i>
                    <p>
                        <a href="#">
         التطوع الصحي الإغاثي
        </a>
                    </p>
                </div>
                <div class="col-lg-4 animated fadeinLeft purple">
                    <i class="fas fa-tint fa-4x icon_medthod icon" data-aos="fade-up"></i>
                    <p><a href="SMAV_MATCH">التطوع الصحي المجتمعي </a></p>
                </div>
                <div class="col-lg-4 animated fadeinLeft yellow">
                    <i class="fas fa-tint fa-4x icon_medthod icon" data-aos="fade-up"></i>
                    <p>
                        <a href="SMAV_HAJJ">
        التطوع الصحي في خدمة الحجاج والمعتمرين
      </a>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="tire"></section>
    <section id="Goals" class="animated fadeinDown">
        <div data-aos="fade-up">
            <h1 class="animated fadeinLeft">مسارات التأهيل </h1>
            <div class="container">
                <div class="row">


                    <div id="video-container">
                        <video poster="images/video-screenshot.jpg" controls>
                            <source src="videos/smav.mp4" type="video/mp4">
                            Your browser does not support HTML5 video.
                          </video>
                    </div>

                    <div class="col-12">
                        <div class="part" data-aos="fade-up">
                            <img class="paths-image img-fluid img-sty2" src="images/whatWeDo/sports.JPG">
                            <p> لياقي </p>
                        </div>
                        <div class="part" data-aos="fade-up">
                            <img class="paths-image img-fluid img-sty2" src="images/whatWeDo/ath.JPG">
                            <p> مهاري </p>
                        </div>
                        <div class="part" data-aos="fade-up">
                            <img class="paths-image img-fluid img-sty2" src="images/whatWeDo/value.jpg">
                            <p> قيمي </p>
                        </div>
                        <div class="part" data-aos="fade-up">
                            <img class="paths-image img-fluid img-sty2" src="images/whatWeDo/scince.JPG">
                            <p>علمي</p>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </section>
    <section class="tire"></section>
    <section id="methodology">
        <div class="row ">
            <div class="col-md-12">
                <h1 class="animated fadeinUp"> منهجيتنا </h1>
            </div>
            <div class="col-lg-3 animated fadeinLeft">
                <i class="fas fa-notes-medical fa-4x icon_medthod icon" data-aos="fade-up"></i>
                <p class=" justify" data-aos="fade-up">
                    التمكين في الريادة الصحية المجتمعية
                </p>
            </div>
            <div class="col-lg-3 animated fadeinLeft">
                <i class="fas fa-stethoscope fa-4x icon_medthod icon" data-aos="fade-up"></i>
                <p class=" justify" data-aos="fade-up">
                    التطبيق ( الدمج في البرامج التطوعية )
                </p>
            </div>
            <div class="col-lg-3 animated fadeinLeft">
                <i class="fas fa-certificate fa-4x icon_medthod icon" data-aos="fade-up"></i>
                <p class="justify" data-aos="fade-up">
                    التقييم القبلي والبعدي وشهادة الاجتياز
                </p>
            </div>
            <div class="col-lg-3 animated fadeinLeft">
                <i class="fas fa-book-open fa-4x icon_medthod icon" data-aos="fade-up"></i>
                <p data-aos="fade-up">
                    التعليم والتدريب المتخصص
                </p>
            </div>
        </div>
    </section>
    <%- include('./includes/footer') %>
        <script>
            $(function() {
                $(document).scroll(function() {
                    var $nav = $(".navbar-fixed-top");
                    $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
                });
            });
            $(document).ready(function() {
                $(".dropdown").hover(function() {
                    var dropdownMenu = $(this).children(".dropdown-menu");
                    if (dropdownMenu.is(":visible")) {
                        dropdownMenu.parent().toggleClass("open");
                    }
                });
            });
        </script>
</body>

</html>