<head>
    <meta charset="utf-8">
    <title>SMAV</title>
    
    <link rel = "icon" class="animated fadeinUp" href = "images/logo.png" type = "images/x-icon">

  
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/v4-shims.css">

    <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Cairo:wght@900&display=swap" rel="stylesheet">

    

    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  
  
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/whD.css">
  
    <style>
     .LoginButton {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}
      </style>
  </head>
  
  <body>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
 
  
  <nav class="navbar navbar-expand-lg navbar-light fixed-top navbar-fixed-top bg-light animated fadeinUp">
    <div class="container">
      <a class="navbar-brand" style="color: black;" href="/"> <img src="images/logo.png" height="50x" width="80px"></a>
      

  <% if (message) { %>
    <div class="alert alert-danger alert-dismissible fade show">
   <p>
     خطأ بالايميل او بكملة المرور 
   </p>



      <button type="button" class="close" data-dismiss="alert">&times;</button>


    </div>


    
    <% } %>

    
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
    
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
  <li class="nav-item active">
  
  
  
 
    <%  if(isAuthenticated){%>

      <% if(users){%>

        <li class="nav-item">
          <a href="/users" class="nav-link " style="color: rgb(15, 101, 230);" data toggle="dropdown">صفحتي </a>
        </li>

        <% } %>

        <% if(groups){%>

          <li class="nav-item">
            <a href="/groups" class="nav-link" style="color: rgb(15, 101, 230);" data toggle="dropdown">صفحتي </a>
          </li>
  
          <% } %>

<%  }%>


    <li class="nav-item">
        <a class="nav-link" style="color: black;" href="/">Home</a>
       </li>
  
    <li class="nav-item">
            <a class="nav-link" style="color: black;" href="/whoSMAV">Who we are ?</a>
           </li>

           <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" style="color: rgb(15, 101, 230);" data toggle="dropdown">what we do ?</a>
            <div class="dropdown-menu">
              <a href="#proramm_SMAV" class="dropdown-item">برامجنا </a>
                <a href="#paths" class="dropdown-item">مسارات</a>
                
                <a href="#footer" class="dropdown-item">Contact </a>
                
            </div>
          </div>
  
          <%  if(!isAuthenticated){%>
            <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" style="color: black;" data toggle="dropdown">Sign up</a>
            <div class="dropdown-menu">
              <a href="/sign_up_Individuals" class="dropdown-item">Indivuals</a>
              <a href="/sign_up_group" class="dropdown-item">gruops</a>
              <!-- <a href="/sign_up_admin" class="dropdown-item">admin</a> -->
  
                
            </div>
          </div>
  
  
          <%  }%>
          
          <%  if(!isAuthenticated){%>
          <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" style="color: black;" data toggle="dropdown">Login</a>
            <div class="dropdown-menu">
              <button class="nav-link LoginButton" style="color: black;" data-target="#login_s"  data-toggle="modal" > Gruops</button>
              <button class="nav-link LoginButton" style="color: black;" data-target="#login_Ind" data-toggle="modal" > Indivuals</button>
  
              
  
                
            </div>
          </div>
  
          <%  }%>
  
  
          <%  if(isAuthenticated){%>
            <form id="magic-form" action="/logout" method="POST">
              <input type="hidden" name="_csrf" value=<%=csrfToken%> 
              <input type="text">
      
      </form>
      <%  }%>
  
      <%  if(isAuthenticated){%>
        <a class="nav-link test" style="color: black;" href="/logout" onclick="event.preventDefault();
        document.getElementById('magic-form').submit();">تسجيل خروج</a>
  <%  }%>

  

  </ul>
  </div>
  </div>
  </nav>
  
  
  <section id="title" >
    <div class="container"  data-aos="fade-up">

   

   
 

      <div class="row">
      <div class="col-lg-12">
  
  
          <h1 class="animated fadeInUp ease-out-circ d2 a-1 f2 fw3" style="color: rgb(0, 0, 0); 
          padding-top: 20rem; text-align: center; font-family: 'Cairo', sans-serif;" > برامجنا </h1>

          <p class="animated fadeInUp ease-out-circ d2 a-1 f2 fw3" style="color: rgb(0, 0, 0); 
          text-align: center; font-family: 'Cairo', sans-serif;">
            ومن احياها فكأنما احيا الناس جميعا 
          </p>
  
        
      </div>
    </section>
  

        

  
  <section id="proramm_SMAV">

<div class="row">

  <div class="col-md-12">


    <h1 style="text-align: center; font-family: 'Cairo', sans-serif;">فرص التطوع </h1>
  </div>


  

  <div class="col-md-4"  data-aos="flip-left">

        <div class="card-body text-center border border-light rounded" style="background-color: #e5eff7 ;" >
          <h4 class="card-title" style="color: black; text-align: left;"> <i class="fas fa-kaaba fa-x icon_programm "> SMAV Hajj</i> </h4> 
          <div data-aos="fade-up-left">
            <p style="text-align: justify; font-family: 'Cairo', sans-serif;">
              التطوع الصحي في خدمة الحجاج والمعتمرين
            </p>
          </div>
          
    </div> 
   

</div>


<div class="col-md-4"  data-aos="flip-right">
      <div class="card-body text-center border border-light rounded" style="background-color: #e5eff7 ;" >
    <h4 class="card-title" style="color: black; text-align: left;"> <i class="fas fa-user-nurse fa-x icon_programm"> SMAV Community </i></h4> 
    <div data-aos="fade-up-left">
      <p style="text-align: justify; font-family: 'Cairo', sans-serif;">
      
        التطوع الصحي المجتمعي 
      </p>
    </div>
</div> 

</div>




<div class="col-md-4" data-aos="flip-left">
  <div class="card-body text-center border border-light rounded" style="background-color: #e5eff7 ;" >
    <h4 class="card-title" style="color: black; text-align: left;"><i class="fas fa-praying-hands fa-x icon_programm"> SMAV Relief</i></h4> 
    <div data-aos="fade-up-left">
      <p style="text-align: justify; font-family: 'Cairo', sans-serif;">
        التطوع الصحي الإغاثي 
      </p>
    </div>
</div> 

</div>

</div>



  
  
  </section>
  
  
  <section id="paths" class="animated fadeinDown">

    <div data-aos="fade-up">
    <h1 style="text-align: center; font-family: 'Cairo', sans-serif;" class="animated fadeinLeft">مسارات التأهيل </h1>
<div class="container">
<div class="row" >

  

  <div class="col-md-3" data-aos="fade-up">
    <img class="paths-image img-fluid img-sty2" src="images/whatWeDo/scince.JPG" >
    <p style="font-size: larger; font-weight: bold; font-family: 'Cairo', sans-serif;">علمي</p>
    <p>   </p>
  </div>
  <div class="col-md-3" data-aos="fade-up">
    <img class="paths-image img-fluid img-sty2" src="images/whatWeDo/ath.JPG" >
    <p style="font-size: larger; font-weight: bold; font-family: 'Cairo', sans-serif;">  مهاري </p>
  </div>
  <div class="col-md-3" data-aos="fade-up">
    <img class="paths-image img-fluid img-sty2" src="images/whatWeDo/value.jpg">
    <p style="font-size: larger; font-weight: bold; font-family: 'Cairo', sans-serif;">  قيمي </p>
  </div>
  <div class="col-md-3" data-aos="fade-up">
    <img class="paths-image img-fluid img-sty2" src="images/whatWeDo/sports.JPG" >
    <p style="font-size: larger; font-weight: bold; font-family: 'Cairo', sans-serif;" > لياقي </p>
    
  </div>
</div>
</div>

</div>
  </section>




  <section id="methodology">
  
    <div class="row ">

     <div class="col-md-12">
        <h1 class="animated fadeinUp" style="text-align: center; font-family: 'Cairo', sans-serif;"  > منهجيتنا  </h1>

      </div>
      <div class="col-lg-3 animated fadeinLeft" >
        <i class="fas fa-book-open fa-4x icon_medthod icon" data-aos="fade-up"></i>
          
            <p  data-aos="fade-up">
              
              التعليم والتدريب المتخصص

            </p>
      </div>  
    
        <div class="col-lg-3 animated fadeinLeft">
          <i class="fas fa-certificate fa-4x icon_medthod icon" data-aos="fade-up"></i>
     
              <p class="justify"  data-aos="fade-up">
                التقييم القبلي والبعدي وشهادة الاجتياز 
                             </p>
      </div>
      <div class="col-lg-3 animated fadeinLeft" >
        <i class="fas fa-stethoscope fa-4x icon_medthod icon" data-aos="fade-up"></i>
         
            <p class=" justify"  data-aos="fade-up">
              التطبيق ( الدمج في البرامج التطوعية )    
                    </p>
      </div>
      <div class="col-lg-3 animated fadeinLeft" >
        <i class="fas fa-notes-medical fa-4x icon_medthod icon" data-aos="fade-up"></i>
 
        <p class=" justify" data-aos="fade-up" >
          التمكين في الريادة الصحية المجتمعية 
                 </p>
      </div>
   


  </div>
  </section>








 

  <%- include('./includes/footer') %>

</body>
  


<div id="login">
  <div class="modal fade" id="login_s" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">تسجيل الدخول للشخص المسؤول عن القروب   </h5>

        </div>
        <div class="modal-body">
          <form action="/login_group" method="POST" >
     
          <aside  class="col-lg-12" >


            <div class="card">
            <article class="card-body">
              <h4 class="card-title text-center mb-4 mt-1">تسجيل دخول</h4>
              <hr>

              <form>
              <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                 </div>
                <input name="email" class="form-control" placeholder="Email or login" type="email">
              </div> <!-- input-group.// -->
              </div> <!-- form-group// -->
              <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                 </div>
                  <input name="password" class="form-control" placeholder="******" type="password">
              </div> <!-- input-group.// -->
              </div> <!-- form-group// -->
              <div class="form-group">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <button type="submit" class="btn btn-primary btn-block"> سجل هنا  </button>
              </div> <!-- form-group// -->
              <p class="text-center"><a href="/Equipment_sellerReset" class="btn">أنسيت كلمة المرور؟</a></p>

              <p class="text-center"><a href="/Equipment_sellerRegister" class="btn">اذا ليس لديك حساب ؟ </a></p>
              

              </form>

            </article>
            </div> <!-- card.// -->
          </form>
              </aside> <!-- col.// -->
        </div>
        <div class="modal-footer">

          <button type="button" class="btn btn-secondary" data-dismiss="modal">اغلاق </button>

        </div>
      </div>
    </div>
  </div>

</div>


<div id="login_Indvisual">
  <div class="modal fade" id="login_Ind" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">تسجيل الدخول  </h5>

        </div>
        <div class="modal-body">
          <form action="/login_Individuals" method="POST" >
     
          <aside  class="col-lg-12" >


            <div class="card">
            <article class="card-body">
              <h4 class="card-title text-center mb-4 mt-1">تسجيل دخول</h4>
              <hr>

              <form>
              <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                 </div>
                <input name="email" class="form-control" placeholder="Email or login" type="email">
              </div> <!-- input-group.// -->
              </div> <!-- form-group// -->
              <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                 </div>
                  <input name="password" class="form-control" placeholder="******" type="password">
              </div> <!-- input-group.// -->
              </div> <!-- form-group// -->
              <div class="form-group">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <button type="submit" class="btn btn-primary btn-block"> سجل هنا  </button>
              </div> <!-- form-group// -->
              <p class="text-center"><a href="/Equipment_sellerReset" class="btn">أنسيت كلمة المرور؟</a></p>

              <p class="text-center"><a href="/Equipment_sellerRegister" class="btn">اذا ليس لديك حساب ؟ </a></p>
              

              </form>

            </article>
            </div> <!-- card.// -->
          </form>
              </aside> <!-- col.// -->
        </div>
        <div class="modal-footer">

          <button type="button" class="btn btn-secondary" data-dismiss="modal">اغلاق </button>

        </div>
      </div>
    </div>
  </div>

</div>

  
  <script>
  
  
  $(function () {
    $(document).scroll(function () {
      var $nav = $(".navbar-fixed-top");
      $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
    });
  });


  $(document).ready(function(){
    $(".dropdown").hover(function(){
        var dropdownMenu = $(this).children(".dropdown-menu");
        if(dropdownMenu.is(":visible")){
            dropdownMenu.parent().toggleClass("open");
        }
    });
  });  
  </script>