<head>
    <meta charset="utf-8">
    <title>SMAV</title>
    
  
  
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/v4-shims.css">
    
    <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">

    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/whoR.css">

    	

    <style>
      .fake-div {
  width:100%;
  height: 1280px;
  position:relative;
}

.LoginButton {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}
    </style>


  
  </head>


 <body>

  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>


 
  
  <nav class="navbar navbar-expand-lg navbar-light fixed-top navbar-fixed-top bg-light animated fadeinUp  ">
    <div class="container">
      <a class="navbar-brand" style="color: black;" href="/"> <img src="images/logo.png" height="50x" width="80px"></a>

      
  <% if (message) { %>
    <div class="alert alert-danger alert-dismissible fade show">
   <p>
     خطأ بالايميل او بكملة المرور 
   </p>



      <button type="button" class="close" data-dismiss="alert">&times;</button>


    </div>


    
    <% } %>

      <button class="navbar-toggler" style="background-color: white;" type="button" 
      data-toggle="collapse" data-target="#navbarSupportedContent" 
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
    
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
  <li class="nav-item ">
  

    <%  if(isAuthenticated){%>

      <% if(users){%>

        <li class="nav-item">
          <a href="/users" class="nav-link " style="color: rgb(15, 101, 230);" data toggle="dropdown">صفحتي </a>
        </li>

        <% } %>

        <% if(groups){%>

          <li class="nav-item">
            <a href="/groups" class="nav-link" style="color: rgb(15, 101, 230);" data toggle="dropdown">صفحتي </a>
          </li>
  
          <% } %>

<%  }%>
  
    <li class="nav-item">
        <a class="nav-link" style="color: black;" href="/">Home</a>
       </li>
  
    <div class="nav-item dropdown">
      <a href="#" class="nav-link dropdown-toggle" style="color: rgb(15, 101, 230);" data toggle="dropdown">Who we are ?</a>
      <div class="dropdown-menu">
       
        <a href="#Video" class="dropdown-item">Video SMAV</a>   
        <a href="#numbers" class="dropdown-item">ارقام واحصائيات </a>  
        <a href="#binifts" class="dropdown-item">  المستفيدون </a>    
          <a href="#footer" class="dropdown-item">Contact</a>              
      </div>
    </div>
  
  <li class="nav-item">
            <a class="nav-link active" style="color: black;" href="/WhatWeDo">what we do ? </a>
          </li>
  
   
          <%  if(!isAuthenticated){%>
            <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" style="color: black;" data toggle="dropdown">Sign up</a>
            <div class="dropdown-menu">
              <a href="/sign_up_Individuals" class="dropdown-item">Indivuals</a>
              <a href="/sign_up_group" class="dropdown-item">gruops</a>
              <!-- <a href="/sign_up_admin" class="dropdown-item">admin</a> -->
  
                
            </div>
          </div>
  
  
          <%  }%>
          
          <%  if(!isAuthenticated){%>
          <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" style="color: black;" data toggle="dropdown">Login</a>
            <div class="dropdown-menu">
              <button class="nav-link test LoginButton" style="color: black;" data-target="#login_s"  data-toggle="modal" >Gruops</button>
              <button class="nav-link test LoginButton" style="color: black;" data-target="#login_Ind" data-toggle="modal" > Indivuals</button>
  
              
  
                
            </div>
          </div>
  
          <%  }%>
  
  
          <%  if(isAuthenticated){%>
            <form id="magic-form" action="/logout" method="POST">
              <input type="hidden" name="_csrf" value=<%=csrfToken%> 
              <input type="text">
      
      </form>
      <%  }%>
  
      <%  if(isAuthenticated){%>
        <a class="nav-link test" style="color: black;" href="/logout" onclick="event.preventDefault();
        document.getElementById('magic-form').submit();">تسجيل خروج</a>
  <%  }%>

   
  </ul>
  </div>
  </div>
  </nav>


  <section id="height"></section>
  
  <section id="Video" class="animated fadeinUp"  >


    <div class="container" >
    <div class="row">
      <div class="col-md-12" >

        

        <div data-aos="fade-right"
        data-aos-offset="300"
        data-aos-easing="ease-in-sine">
   
   
       <h1 style="text-align: center;"> <i class="fas fa-video icon_Vid "  > Video SMAV</i></h1>

     
      
        <video width="320" height="240" poster="images/logo.png" controls class="img-fluid">
          <source src="videos/smav.mp4" type="video/mp4">
          Your browser does not support HTML5 video.
        </video>
  
    </div>
  </div>
</div>
</div>
  


  </section>
  

  <Section id="space_Vid"></Section>
  
  <section id="beneficiaries">
    <div class="container">
    <div class="row">

      <div class="col-md-12">
        <h1 class="animated fadeinUp" style="text-align: center; "> المستفيدون</h1>
      </div>
      <div class="col-lg-4 animated fadeinLeft" >
  
        <i class="fas fa-clinic-medical fa-4x icon_about icon" data-aos="fade-up"></i>
            <p  data-aos="fade-up"> 
              الجهات والبرامج المعنية بالتطوع الصحي 
            
            </p>
      </div>
        <div class="col-lg-4 animated fadeinLeft">
          <i class="fas fa-user-md fa-4x icon_about icon"  data-aos="fade-up"></i>
              <p 
              class=" justify"  data-aos="fade-up">
              الممارسون الصحيون المهتمون والمشاركون بالعمل الصحي التطوعي  
              </p>
      </div>
      <div class="col-lg-4 animated fadeinLeft" >
  
        <i class="fas fa-book-medical fa-4x icon_about icon" data-aos="fade-up"></i>
            <p data-aos="fade-up">
               طلاب وطالبات الكليات الصحية في جميع جامعات
              المملكة
            </p>

      </div>

      <div class="col-lg-6 animated fadeinLeft" >
        <i class="fas fa-kaaba fa-4x icon icon_about" data-aos="fade-up"></i>
        <p class=" justify" data-aos="fade-up" >
          ضيوف الرحمن من الحجاج والمعتمرين            
        </p>
      </div>
      <div class="col-lg-6 animated fadeinLeft">
        <i class="fas fa-globe fa-4x icon_about icon" data-aos="fade-up"></i>
            <p data-aos="fade-up">الفرق التطوعية </p>
    </div>
    </div>
  </div>

  </section>





  <section id="binifts">
        <div class="row">
         <div class="col-md-12">
           <h1 style="text-align: center;"  >  ماذا نحقق للمتطوع </h1>
           </div>
         <div class="col-md-3 animated fadeinLeft" >
     
           <i class="fas fa-praying-hands fa-4x icon_about icon" data-aos="fade-up"></i>
               <p  data-aos="fade-up"> 
                 أجر خدمة الحجاج والمعتمرين            
               </p>
         </div>
   
         <div class="col-md-3 animated fadeinLeft" >
        
           <i class="fas fa-eye fa-4x icon_about icon" data-aos="fade-up"></i>
               <p  data-aos="fade-up"> 
                 تعزيز الانتماء الوطني والمشاركة في تحقيق رؤية الوطن  
                </p>
         </div>
   
         <div class="col-md-3 animated fadeinLeft" >
        
           <i class="fas fa-file-signature fa-4x icon_about icon" data-aos="fade-up"></i>
               <p  data-aos="fade-up"> 
                 شهادات تطوع  وشهادات تأهيل علمي معتمدة تفيده في مسيرته العلمية والمهنية 
                            </p>
         </div>
   
         <div class="col-md-3 animated fadeinLeft" >
     
   
   
           <i class="fas fa-couch fa-4x icon_about icon" data-aos="fade-up"></i>
               <p  data-aos="fade-up"> 
                 جاهزية لقيادة البرامج والمشاريع الصحية التطوعية 
                            </p>
         </div>
   
   <!-- ///////// -->
   <!-- //////// -->
   
   
   
   <div class="col-md-3 animated fadeinLeft" >
     
     <i class="fas fa-user-friends fa-4x icon_about icon" data-aos="fade-up"></i>
         <p  data-aos="fade-up"> 
           التطوع في فرق محترفة وقيادات مؤهلة        
         </p>
   </div>
   
   
   
   <div class="col-md-3 animated fadeinLeft" >
   
     <i class="fas fa-comments fa-4x icon_about icon" data-aos="fade-up"></i>
         <p  data-aos="fade-up" class="justfiy"> 
           مجالس استشارية وعلمية تضم نخبة من أهل الاختصاص       
         </p>
   </div>
   
   
   
   <div class="col-md-3 animated fadeinLeft" >
   
     <i class="far fa-grin-beam fa-4x icon_about icon" data-aos="fade-up"></i>
         <p  data-aos="fade-up"> 
           متعة المشاركة والخبرة العملية 
                      </p>
   </div>
   
   <div class="col-md-3 animated fadeinLeft" >
   
   
   
     <i class="fas fa-chalkboard-teacher fa-4x icon_about icon" data-aos="fade-up"></i>
         <p  data-aos="fade-up"> 
           منهجية متميزة في التدريب تعتمد دمج التعلم بالخدمة 
                            </p>
   </div>
   
   
       </div>
    
   
  </section>






      <section class="numbers" id="numbers">
        <div class="container " data-aos="fade-up">
        <div class="row" id="counter">

          <div class="col-md-12 ">

            <h1 class="animated fadeinUp" style="text-align: center; color: white;"> على مدى اربع سنوات من التطوع الصحي SMAV ماذا قدمت  </h1>

         
          </div>
    
          <div class="col-md-3">
            <i class="fas fa-user-clock fa-4x icon_Number icon" data-aos="fade-up"></i>
            <h1 id="value4" class="entry-title4" style="color: white;"> 179588</h1>
            <h6>ساعة تطوعية</h6>
          </div>

          <div class="col-md-3">
            <i class="fas fa-clock fa-4x icon_Number icon" data-aos="fade-up"></i>
            <h1 id="value3" class="entry-title3" style="color: white;"> 1200</h1>
            <h6>ساعة تأهيل</h6>
          </div>
          
          <div class="col-md-3">
            <i class="fas fa-users-cog fa-4x icon_Number icon" data-aos="fade-up"></i>
            <h1 id="value2" class="entry-title2" style="color: white;"> 275</h1>
            <h6>فريق تطوعي</h6>
          </div>

        
          <div class="col-md-3">
            <i class="fas fa-users fa-4x icon_Number icon" data-aos="fade-up"></i>
            <h1 id="value" class="entry-title" style="color: white;"> 1400</h1>
            <h6> متطوع ومتطوعة</h6>
          </div>
<!-- //// -->
          <div class="col-md-4">
            <i class="fas fa-sticky-note fa-4x icon_Number icon" data-aos="fade-up"></i>
            <h1 id="value5" class="entry-title5" style="color: white;"> 11</h1>
            <h6> بحث علمي</h6>
          </div>
      
      
          <div class="col-md-4">
            <i class="fas fa-notes-medical fa-4x icon_Number icon" data-aos="fade-up"></i>
            <h1 id="value6" class="entry-title6" style="color: white;"> 109897</h1>
            <h6> حالة خدمة العلاجية </h6>
          </div>
       
          <div class="col-md-4">
            <i class="fas fa-user-md fa-4x icon_Number icon" data-aos="fade-up"></i>
            <h1 id="value7" class="entry-title7" style="color: white;"> 367111</h1>
            <h6 > مستفيد من الخدمات التطوعية</h6>
          </div>

          <!-- /////// -->
          
          <div class="col-md-4">
            <i class="fas fa-thumbtack fa-4x icon_Number icon" data-aos="fade-up"></i>
            <h1 id="value8" class="entry-title8 counter-value" style="color: white;"> 48</h1>
            <h6>  تغطية المواقع الميداينة</h6>
          </div>
      
       
          <div class="col-md-4">
            <i class="fas fa-clinic-medical fa-4x icon_Number icon" data-aos="fade-up"></i>
            <h1 id="value9" class="entry-title9" style="color: white;"> 33</h1>
            <h6>   تغطية المراكز الصحية </h6>
          </div>
       
          <div class="col-md-4">
            <i class="fas fa-hospital fa-4x icon_Number icon" data-aos="fade-up"></i>
            <h1 id="value10" class="entry-title10" style="color: white;"> 4</h1>
            <h6 >  تغطية المستشفيات في المشاعر المقدسة</h6>
          </div>
          

      </div>     
      </section>
 


 

  <%- include('./includes/footer') %>

</body>
  




<div id="login">
  <div class="modal fade" id="login_s" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">تسجيل الدخول للشخص المسؤول عن القروب   </h5>

        </div>
        <div class="modal-body">
          <form action="/login_group" method="POST" >
     
          <aside  class="col-lg-12" >


            <div class="card">
            <article class="card-body">
              <h4 class="card-title text-center mb-4 mt-1">تسجيل دخول</h4>
              <hr>

              <form>
              <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                 </div>
                <input name="email" class="form-control" placeholder="Email or login" type="email">
              </div> <!-- input-group.// -->
              </div> <!-- form-group// -->
              <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                 </div>
                  <input name="password" class="form-control" placeholder="******" type="password">
              </div> <!-- input-group.// -->
              </div> <!-- form-group// -->
              <div class="form-group">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <button type="submit" class="btn btn-primary btn-block"> سجل هنا  </button>
              </div> <!-- form-group// -->
              <p class="text-center"><a href="/Equipment_sellerReset" class="btn">أنسيت كلمة المرور؟</a></p>

              <p class="text-center"><a href="/Equipment_sellerRegister" class="btn">اذا ليس لديك حساب ؟ </a></p>
              

              </form>

            </article>
            </div> <!-- card.// -->
          </form>
              </aside> <!-- col.// -->
        </div>
        <div class="modal-footer">

          <button type="button" class="btn btn-secondary" data-dismiss="modal">اغلاق </button>

        </div>
      </div>
    </div>
  </div>

</div>


<div id="login_Indvisual">
  <div class="modal fade" id="login_Ind" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">تسجيل الدخول  </h5>

        </div>
        <div class="modal-body">
          <form action="/login_Individuals" method="POST" >
     
          <aside  class="col-lg-12" >


            <div class="card">
            <article class="card-body">
              <h4 class="card-title text-center mb-4 mt-1">تسجيل دخول</h4>
              <hr>

              <form>
              <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                 </div>
                <input name="email" class="form-control" placeholder="Email or login" type="email">
              </div> <!-- input-group.// -->
              </div> <!-- form-group// -->
              <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                 </div>
                  <input name="password" class="form-control" placeholder="******" type="password">
              </div> <!-- input-group.// -->
              </div> <!-- form-group// -->
              <div class="form-group">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <button type="submit" class="btn btn-primary btn-block"> سجل هنا  </button>
              </div> <!-- form-group// -->
              <p class="text-center"><a href="/Equipment_sellerReset" class="btn">أنسيت كلمة المرور؟</a></p>

              <p class="text-center"><a href="/Equipment_sellerRegister" class="btn">اذا ليس لديك حساب ؟ </a></p>
              

              </form>

            </article>
            </div> <!-- card.// -->
          </form>
              </aside> <!-- col.// -->
        </div>
        <div class="modal-footer">

          <button type="button" class="btn btn-secondary" data-dismiss="modal">اغلاق </button>

        </div>
      </div>
    </div>
  </div>

</div>

  
  <script>
  

  $(document).ready(function(){
    $(".dropdown").hover(function(){
        var dropdownMenu = $(this).children(".dropdown-menu");
        if(dropdownMenu.is(":visible")){
            dropdownMenu.parent().toggleClass("open");
        }
    });
  });     

  
  $(function () {
    $(document).scroll(function () {
      var $nav = $(".navbar-fixed-top");
      $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
    });
  });




  function animateValue(obj, start, end, duration) {
  let startTimestamp = null;
  const step = (timestamp) => {
    if (!startTimestamp) startTimestamp = timestamp;
    const progress = Math.min((timestamp - startTimestamp) / duration, 1);
    obj.innerHTML = Math.floor(progress * (end - start) + start);
    if (progress < 1 ) {
      
        window.requestAnimationFrame(step);
    
     
    }
  };
  window.requestAnimationFrame(step);
}

var h1Text = document.querySelector(".entry-title").textContent;

var h2Text = document.querySelector(".entry-title2").textContent;

var h3Text = document.querySelector(".entry-title3").textContent;

var h4Text = document.querySelector(".entry-title4").textContent;


var h5Text = document.querySelector(".entry-title5").textContent;

var h6Text = document.querySelector(".entry-title6").textContent;

var h7Text = document.querySelector(".entry-title7").textContent;



var h8Text = document.querySelector(".entry-title8").textContent;

var h9Text = document.querySelector(".entry-title9").textContent;

var h10Text = document.querySelector(".entry-title10").textContent;

const obj = document.getElementById("value");

const obj2 = document.getElementById("value2");

const obj3 = document.getElementById("value3");

const obj4 = document.getElementById("value4");


const obj5 = document.getElementById("value5");

const obj6 = document.getElementById("value6");

const obj7 = document.getElementById("value7");


const obj8 = document.getElementById("value8");

const obj9 = document.getElementById("value9");

const obj10 = document.getElementById("value10");






animateValue(obj, 0, h1Text, 5000);
animateValue(obj2, 0, h2Text, 5000);
animateValue(obj3, 0, h3Text, 5000);
animateValue(obj4, 0, h4Text, 5000);


animateValue(obj5, 0, h5Text, 5000);
animateValue(obj6, 0, h6Text, 5000);
animateValue(obj7, 0, h7Text, 5000);


    
    animateValue(obj8, 0, h8Text, 5000);
animateValue(obj9, 0, h9Text, 5000);
animateValue(obj10, 0, h10Text, 5000);

  


 

</script>