/* @import url('https://fonts.googleapis.com/css?family=Damion|Muli:400,600'); */

@font-face {
    font-family: 'Neo Sans Arabic Light';
    font-style: normal;
    font-weight: normal;
    src: local('Neo Sans Arabic Light'), url('neo-sans-arabic-cufonfonts-webfont/NeoSansArabicLight.woff') format('woff');
}

@font-face {
    font-family: 'Neo Sans Arabic Black';
    font-style: normal;
    font-weight: normal;
    src: local('Neo Sans Arabic Black'), url('neo-sans-arabic-cufonfonts-webfont/NeoSansArabicBlack.woff') format('woff');
}

body,
form,
input,
select,
option,
p,
label,
button {
    font-family: 'Neo Sans Arabic Light', sans-serif;
}

#registerForm {
    /* background: url("https://www.toptal.com/designers/subtlepatterns/patterns/geometry2.png"); */
    background: url("../images/blue.jpg");
    margin-top: 6.5%;
    /* background-size: 100% 50%; */
}

.alert-success,
.alert-danger {
    margin: 0 auto;
    text-align: center;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    margin-top: 0;
}

:focus {
    outline: none;
}


/* necessary to give position: relative to parent. */

:focus {
    outline: none;
}

.col-lg-6.col-md-9,
.col-md-6.mb-3,
.col-md-8.mb-3,
.col-md-9.mb-3 {
    margin: 0 auto;
}

.card-title {
    margin-bottom: 2rem !important;
    font-family: 'Neo Sans Arabic Light', sans-serif;
    direction: rtl;
    color: #0d97cd;
}

form {
    margin-bottom: 0;
}

.card-title.academic {
    margin-top: 2rem;
}

.frontside .card-body {
    padding: 6% 12% !important;
}

input,
select,
option,
.inputs {
    color: #0d97cd;
    direction: rtl;
    text-align: right;
}

input[type="text"] {
    /* font: 15px/24px "Lato", Arial, sans-serif; */
    /* color: #333; */
    color: #0d97cd;
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 1px;
}

.effect-16,
.effect-17,
.effect-18 {
    border: 0;
    padding: 4px 0;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
}

.effect-16~.focus-border {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #4caf50;
    transition: 0.4s;
}

.effect-16:focus~.focus-border,
.has-content.effect-16~.focus-border {
    width: 100%;
    transition: 0.4s;
}

.effect-16~label {
    position: absolute;
    left: 0;
    width: 100%;
    top: 9px;
    color: #aaa;
    transition: 0.3s;
    z-index: -1;
    letter-spacing: 0.5px;
}

.effect-16:focus~label,
.has-content.effect-16~label {
    top: -16px;
    font-size: 12px;
    color: #4caf50;
    transition: 0.3s;
}

#video-rules {
    display: none;
    color: black;
    background-color: white;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
    padding: 6%;
    font-size: 0.85rem;
    margin-bottom: 1.5rem;
}

#video-rules h5 {
    text-align: right;
    color: #0d97cd;
    font-weight: bold;
    font-size: 1rem;
}

#video-rules p {
    text-align: right;
    font-weight: normal;
    margin-bottom: 0;
}


/* 
#btn-rules {
    background-color: #0d97cd;
    color: white;
    border: none;
} */