/* ############## */

ul.arabic-list {
    text-align: right;
    width: 100%;
    list-style-type: none;
    font-size: 1.25rem;
}

.arabic-list li {
    /* direction: rtl; */
}


/* .arabic-list li:before {
    padding: 5px;
}
*/

.arabic-list :before {
    content: "-";
}

#hajj-title {
    background-color: #f8d53d;
    padding: 6% 12%;
    text-align: center;
    color: #fff;
    margin-top: 5.75%;
}

#proramm_SMAV {
    font-size: 1.25rem;
    background-color: #aeaeae;
    padding: 6% 12%;
    text-align: center;
    color: #fff;
}

#hajj-title p.mobiling {
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: justify;
}

#OurWay {
    color: white;
    background-color: #0d97cd;
    padding: 6% 12%;
    text-align: center;
}

p.ourWayDist {
    margin-top: 1rem;
    font-size: 1.25rem;
    text-align: center;
}

.icon_programm:hover {
    animation: bounce;
    /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s;
    /* don't forget to set a duration! */
}

.card-body {
    box-sizing: border-box;
}


/* ##### */

#paths {
    background-color: #f8d53d;
    text-align: center;
    padding: 6% 12%;
    color: white;
    font-weight: bold;
}

#paths h3 {
    font-size: 3rem;
}

#paths p {
    font-size: 1.25rem;
}

#ourJobs h3 {
    width: 90%;
    min-height: 5rem;
    font-size: 1.25rem;
    /* width: 100%;
    text-align: right;
    
    float: right; */
}


#pathPre {
    background-color: #f8d53d;
    color: white;
    /* background-image: linear-gradient( rgba(22, 218, 15, 0.5) 100% 100%, rgb(31, 31, 31)100%), url("../images/bg-purple.jpg"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* padding: 1% 15%; */
    padding: 6% 12%;
    text-align: center;
    /* color: black; */
}



#pathPre #video-container {
    width: 100%;
    margin: 0 auto;
}

#pathPre #video-container video {
    width: 85%;
    margin-bottom: 3rem;
}

#pathPre .part {
    float: left;
    width: 25%;
}

#pathPre .paths-image {
    border-radius: 50%;
    width: 140px;
    height: 140px;
    object-fit: cover;
    object-position: center center;
}

#pathPre .paths-image+p {
    margin-top: 0.5rem;
    font-weight: bold;
}

.paths-image {
    border-radius: 10%;
    margin: 10px
}

.icon_paths {
    color: white;
}

.img-sty2 {
    height: 150px;
    object-fit: cover;
    object-position: center center;
}


/* ////// */

#title {
    background-color: #f8d53d;
    color: white;
}


/* //////// */

#inst {
    text-align: center;
    background-color: rgba(204, 204, 204, 0.747);
    padding: 7% 15%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.img-sty2 {
    height: 280px;
    object-fit: cover;
    object-position: center center;
}


/* ////// */

#ourJobs {
    color: white;
    background-color: #0d97cd;
    padding: 6% 12%;
    text-align: center;
}

.custom-div {
    margin-bottom: 1rem;
    /* width: 30%;
    float: right;
    display: block; */
}

.dist_OurJobs {
    /* width: 70%;
    float: right;
    display: block; */
}

.general {
    width: 20%;
    /* float: right; */
    /* display: block; */
    /* display: grid; */
}

.single-row {
    direction: rtl;
}

.OurJobs-image {
    /* width: 140px; */
    /* height: 140px; */
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    object-fit: cover;
    object-position: center center;
}


/* //////////////////////// */

.fa {
    margin-left: 1rem;
}

.copy {
    padding: 1%;
}

.card-body:hover {
    box-shadow: 0 8px 16px 0 gray;
}

#Registers_requir {
    background-color: #aeaeae;
    text-align: center;
    color: white;
    padding: 6% 12%;
    position: relative;
}

#Registers_requir a {
    color: white;
}

.arrow-separator {
    float: right;
    width: 100%;
    text-align: center;
}

.fa-level-down-alt:not(.except) {
    transform: scale(-1, 1);
}

.fa-level-down-alt {
    font-size: 3rem;
    /* margin-top: 15%; */
    /* margin-right: -50%; */
}


/******************************************/

@media screen and (max-width: 922px) {
    /* ##### */
    /* #### */
    #height {
        height: 1px;
    }
    /* ###### */
    .img-sty {
        height: 750px;
        object-fit: cover;
        object-position: center center;
    }
}


/* //////////////////////// */

@media only screen and (max-width: 767.98px) {
    #Goals .part {
        float: left;
        width: 100%;
    }
    #video-container video {
        width: 100%;
    }
    p.ourWayDist {
        text-align: justify;
    }
    #hajj-title {
        margin-top: 18%;
    }
    .custom-div,
    #ourJobs h3,
    ul.arabic-list {
        min-height: auto;
        margin-bottom: 0;
        padding: 0;
        text-align: center;
        display: block;
        float: right;
        width: 100%;
    }
    #ourJobs h3 {
        width: 100%;
        margin-bottom: 1rem;
    }
    .custom-div,
    .general {
        width: 100%;
        float: right;
        display: block;
        margin-bottom: 0;
    }
    .custom-div img {
        float: none;
        /* margin-left: 0; */
    }
    .OurJobs-image {
        float: right;
        width: 140px;
        height: 140px;
        margin-bottom: 1rem;
    }
    #ourJobs .container .row {
        margin-bottom: 0;
    }
    .general {
        margin-bottom: 1.5rem;
    }
    .reorder {
        display: flex;
        flex-flow: column;
    }
    .step1 {
        order: 1;
    }
    .step2 {
        order: 2;
    }
    .step3 {
        order: 3;
    }
    .step4 {
        order: 4;
    }
    .step5 {
        order: 5;
    }
    .step6 {
        order: 6;
    }
    .step7 {
        order: 7;
    }
}