
body{

    font-family: 'Amiri';

    background-image: url(gray.png);
    background-repeat: repeat;
    
    background-size: cover;



 
    }


        /* .card-img-top {
          width: 100%;
          height: 15vw;
          object-fit: cover;
      } */
    
    
    /* //////////////////////// */
  
    
    /* ///////////// */
    /* ///////////// */
    
    #pricing{

        padding-left:  500px; 
        padding-right: 500px;
        padding-top: 80px;
        

      }
      .pricing-colume {
        padding: 3% 15%;
        text-align: center;
      }
      .carding-distance {

        margin-top: 10px;
        
        }

        .design{

          height: 150px;
       
         
          
        }
        .location{
       
          margin-top: 1rem;
          margin-right: 1rem;
        }
        .location2{
          margin-top: 3em;
          margin-right: 10rem;

        }
      

      @media (max-width:1028px) {
        #pricing{
      
          padding-left:  100px; 
          padding-right: 100px;
          
        }
      
  
      
      
        }
    

        /* //////// */

        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          padding-left: 1rem;
          overflow: hidden;
          background-color: #343a41;
        }
        
        li  button {
          display: block;
          color: #333;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
        }
        
        li  button:hover:not(.active) {
          background-color: #111;
        }
      
        li a {
          display: block;
          color: white;
          text-align: center;
         
          text-decoration: none;
        }
        
      
        a{
         
      
          font-size: 1.2rem;
      
      
        }


      .shapeButton{

        
        color:white;
        position: absolute;
  
  
        background-color: Transparent;
        background-repeat:no-repeat;
        border: none;
        cursor:pointer;
        overflow: hidden;
        outline:none;
      }
    
        /* FontAwesome for working BootSnippet :> */

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
#team {
    background: #eee !important;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #108d6f;
    border-color: #108d6f;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #007b5e;
    border-color: #007b5e;
}

section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#team .card {
    border: none;
    background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 312px;
    min-width: 319px;
}

.backside .card a {
    font-size: 18px;
    color: #007b5e !important;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: #007b5e !important;
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;

}


.img-places{
  height: 100; 
  width: 120; 
  display: block;  
 margin-left: auto;
margin-right: auto;
}

.card-title {

  font-family: 'Cairo', sans-serif;
}


.section-title{
  font-family: 'Cairo', sans-serif;

}

.card-text{

  font-family: 'Cairo', sans-serif;
  color: #007b5e;
}


.city{

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: gray;

}

.crad-text{

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: gray;
}