
  
   @import url('https://fonts.googleapis.com/css2?family=Cairo:wght@900&display=swap');
  
  #height{
        height: 40px;
      }
    

/* ############## */

      #title{


        background-color:#755ba5        ;      
        
    background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
    
  
   
  }

  .mobiling{
    padding-top: 17rem; 
    text-align: center; 
    font-family: 'Noto Sans Display', sans-serif;
    font-size: 25;
  }
  
      
      /* //////////////////////// */


      #Goals{
 


        background-image:linear-gradient( rgba(204, 204, 204, 0.747) 100%, rgb(31, 31, 31)100%),url("../images/SMAV_MATCH/ourG.JPG")  ;      

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


        padding: 1% 15%;
        text-align: center;

        color:black;
      }
/* /////// */

      #proramm_SMAV{
        
      
        padding: 4% 15%;
        background-image:linear-gradient( rgba(6, 128, 177, 0.747)  100%, rgb(31, 31, 31)100%),url("../images/SMAV_MATCH/inP.JPG")  ;      
    
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    
            text-align: center;
    
            color:black;
      
      }
      
  
      /* ###### */


      
     .icon_programm{
  
      color: white      ;
     }
       
  
      /* ////////////////// */
   
  
  
      .icon_programm:hover{
  
        animation: bounce; /* referring directly to the animation's @keyframe declaration */
        animation-duration: 2s; /* don't forget to set a duration! */
       
      }
  

.card-body{
  box-sizing: border-box;
}    


/* ##### */

#paths{


  text-align: center;
  background-image:linear-gradient( rgba(117, 91, 165, 0.747)  100%, rgb(31, 31, 31)100%),url("../images/SMAV_MATCH/trip.JPG")  ;      
  color:#000;
  padding: 7% 15%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;



 

}



.paths-image{
  width: 300;
  border-radius:10%;
  margin: 10px
}

.icon_paths{
  color: white;
}

.img-sty2{
  height: 150px;
  object-fit: cover;
  object-position: center center;
}
/* ////// */
#tire{
  background-color: black;
  height: 0.5rem;
  
  }
/* //////// */

#inst{


  text-align: center;
  color:#000;
  background-color: rgba(204, 204, 204, 0.747);
  padding: 7% 15%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;



 

}



.inst-image{
  width: 300;
  border-radius:30%;
  margin: 10px;
  object-fit: fill;
  object-position: center center;

}



.img-sty2{
  height: 280px;
  object-fit: cover;
  object-position: center center;
}


/* ////// */
#Registers_requir{

  text-align: center;
  background-image:linear-gradient( rgba(204, 204, 204, 0.747)  100%, rgb(31, 31, 31)100%),url("../images/whatWeDo/method2.JPG")  ;      
  color:#000;
  padding: 7% 15%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.icon_Reg:hover{
  color: #755ba5  ;

  animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}

         


.icon{
      
  padding: 5%
}


#subecrip{
  text-align: center;
  background-image:linear-gradient( rgba(117, 91, 165, 0.747)  100%, rgb(31, 31, 31)100%),url("../images/SMAV_MATCH/agreement.JPG")  ;      
  color:#000;
  padding: 7% 15%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
      
          /* //////////////////////// */
 
      .fa{
      
      
      margin-left:  1rem;
      }
      
      .copy{
      
      padding: 1%;
      }


      .card-body:hover {
        box-shadow: 0 8px 16px 0 gray;
      }





      
      
      @media screen and (max-width: 922px) {

        .mobiling{
          padding-top: 1rem;
        }

        /* ##### */

        #footer{
        
         
          padding: 6% ;
            text-align: center;
            background-color: #cfe5f4;
        
        
        }
        /* #### */
        

        #height{
          height: 1px;
        }
        /* ###### */

      
        .img-sty{
          height: 750px;
        object-fit: cover;
          object-position: center center;
        }
  
        /* ###### */
       
    
    
        
            /* //////////////////////// */
      
        
        
     
      
        
      
      
      
      
      }
  
