
  
   @import url('https://fonts.googleapis.com/css2?family=Cairo:wght@900&display=swap');
  
  #height{
        height: 40px;
      }
        .carousel-item {
          height: 100vh;
          min-height: 300px;
          background: no-repeat center center scroll;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
          background-color: #cfe5f4;
        }
        .carousel-caption {
          bottom: 270px;
        }
        
        .carousel-caption h5 {
          font-size: 45px;
          text-transform: uppercase;
          letter-spacing: 2px;
          margin-top: 25px;
        }
        
        .carousel-caption p {
          width: 75%;
          margin: auto;
          font-size: 18px;
          line-height: 1.9;
        }
        
        .navbar-light .navbar-brand {
          color: #fff;
          font-size: 25px;
          text-transform: uppercase;
          font-weight: bold;
          letter-spacing: 2px;
        }
        
        .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
          color: #fff;
        }
        
        .navbar-light .navbar-nav .nav-link {
          color: #fff;
        }
        
        .navbar-toggler {
          background: #fff;
        }
        
        .navbar-nav {
          text-align: center;
        }
        
        .nav-link {
          padding: .2rem 1rem;
        }
        
        .nav-link.active,.nav-link:focus{
          color: #fff;
        }
        
        .navbar-toggler {
          padding: 1px 5px;
          font-size: 18px;
          line-height: 0.3;
        }
        
        .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
          color: #fff;
        }
      
        .navbar-fixed-top.scrolled {
          background-color: #fff !important;
          transition: background-color 200ms linear;
        }
  
  
        .dropdown:hover .dropdown-menu{
          display: block;
      }
      .dropdown-menu{
          margin-top: 0;
      }


/* ############## */

      #title{
    
        background-image:linear-gradient( rgba(6, 173, 240, 0.747)  100%, rgb(31, 31, 31)100%),url("../images/group.JPG")  ;      
        height: 750px;
    background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
    
  
   
  }
      
      /* //////////////////////// */
      #proramm_SMAV{
      
        padding: 4% 15%;
        background-image:linear-gradient( rgba(6, 128, 177, 0.747)  100%, rgb(31, 31, 31)100%),url("../images/volunteer1.jpg")  ;      
    
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    
            text-align: center;
    
            color:black;
      
      }
      
  
      /* ###### */
      
     .icon_programm{
  
      color: #49796b;
     }
       
  
      /* ////////////////// */
   
  
  
      .icon_programm:hover{
  
        animation: bounce; /* referring directly to the animation's @keyframe declaration */
        animation-duration: 2s; /* don't forget to set a duration! */
       
      }
  

.card-body{
  box-sizing: border-box;
}    


/* ##### */

#paths{


  text-align: center;
  background-image:linear-gradient( rgba(4, 91, 126, 0.747)  100%, rgb(31, 31, 31)100%),url("../images/whatWeDo/path.jpg")  ;      
  color:#000;
  padding: 7% 15%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;



 

}



.paths-image{
  width: 300;
  border-radius:10%;
  margin: 10px
}

.img-sty2{
  height: 150px;
  object-fit: cover;
  object-position: center center;
}



/* ////// */
#methodology{

  text-align: center;
  background-image:linear-gradient( rgba(4, 91, 126, 0.747)  100%, rgb(31, 31, 31)100%),url("../images/whatWeDo/method2.JPG")  ;      
  color:#000;
  padding: 7% 15%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


         
.icon_medthod:hover{
      
  color: #eef1f1;

  animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
 }

.icon{
      
  padding: 5%
}

      
          /* //////////////////////// */
      #footer{
      
       
        padding: 6% ;
          text-align: center;
          background-color: #cfe5f4;
      
      
      }
      .fa{
      
      
      margin-left:  1rem;
      }
      
      .copy{
      
      padding: 1%;
      }


      .card-body:hover {
        box-shadow: 0 8px 16px 0 gray;
      }
      
      
      
      @media screen and (max-width: 922px) {

        #title{
    
    
          background-image:linear-gradient( rgba(6, 173, 240, 0.747)  100%, rgb(31, 31, 31)100%),url("../images/group.JPG")  ;      
          height: 900px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
        }

        /* ##### */

        #footer{
        
         
          padding: 6% ;
            text-align: center;
            background-color: #cfe5f4;
        
        
        }
        /* #### */
        

        #height{
          height: 1px;
        }
        /* ###### */

      
        .img-sty{
          height: 750px;
        object-fit: cover;
          object-position: center center;
        }
  
        /* ###### */
       
    
    
        
            /* //////////////////////// */
      
        
        
     
      
        
      
      
      
      
      }
  
