
  
   @import url('https://fonts.googleapis.com/css2?family=Cairo:wght@900&display=swap');
  
  #height{
        height: 40px;
      }
    

/* ############## */

      #title{
    
        background-image:linear-gradient( rgba(6, 174, 240, 0.877)  100%, rgb(31, 31, 31)100%),url("../images/group.JPG")  ;      
        height: 750px;
    background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
    
  
   
  }
      
      /* //////////////////////// */
      #proramm_SMAV{
      
        padding: 10% 15%;
        /* background-image:linear-gradient( rgba(6, 128, 177, 0.747)  100%, rgb(31, 31, 31)100%),url("../images/whatWeDo/drop.JPG")  ;   */
        
        background-image: url("../images/whatWeDo/drop.JPG");
    
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    
            text-align: center;
    
            color:black;
      
      }
      
  
      /* ###### */
      
     .icon_programm{
  
      color: #2083c6      ;
     }
       /* //// */

     #tire{
      background-color: black;
      height: 0.5rem;
      
      }
  
      /* ////////////////// */
   
  
  
      .icon_programm:hover{
  
        animation: bounce; /* referring directly to the animation's @keyframe declaration */
        animation-duration: 2s; /* don't forget to set a duration! */
       
      }


  

.card-body{
  box-sizing: border-box;
}    


/* ##### */

#paths{


  text-align: center;
  background-image:linear-gradient( rgba(4, 91, 126, 0.747)  100%, rgb(31, 31, 31)100%),url("../images/whatWeDo/path.jpg")  ;      
  color:#000;
  padding: 7% 15%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;



 

}



.paths-image{
  width: 300;
  border-radius:10%;
  margin: 10px
}

.img-sty2{
  height: 150px;
  object-fit: cover;
  object-position: center center;
}



/* ////// */
#methodology{

  text-align: center;
  background-image:linear-gradient( rgba(4, 91, 126, 0.747)  100%, rgb(31, 31, 31)100%),url("../images/whatWeDo/method2.JPG")  ;      
  color:#000;
  padding: 7% 15%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


         
.icon_medthod:hover{
      
  color: #eef1f1;

  animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
 }

.icon{
      
  padding: 5%
}

      
          /* //////////////////////// */
      #footer{
      
       
        padding: 6% ;
          text-align: center;
          background-color: #cfe5f4;
      
      
      }
      .fa{
      
      
      margin-left:  1rem;
      }
      
      .copy{
      
      padding: 1%;
      }


      .card-body:hover {
        box-shadow: 0 8px 16px 0 gray;
      }
      
      
      
      @media screen and (max-width: 922px) {

        #title{
    
    
          background-image:linear-gradient( rgba(6, 173, 240, 0.747)  100%, rgb(31, 31, 31)100%),url("../images/group.JPG")  ;      
          height: 900px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
        }

        /* ##### */

        #footer{
        
         
          padding: 6% ;
            text-align: center;
            background-color: #cfe5f4;
        
        
        }
        /* #### */
        

        #height{
          height: 1px;
        }
        /* ###### */

      
        .img-sty{
          height: 750px;
        object-fit: cover;
          object-position: center center;
        }
  
        /* ###### */
       
    
    
        
            /* //////////////////////// */
      
        
        
     
      
        
      
      
      
      
      }
  
