
    #height{
        height: 40px;
      }
        .carousel-item {
          height: 100vh;
          min-height: 300px;
          background: no-repeat center center scroll;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
          background-color: #cfe5f4;
        }
        .carousel-caption {
          bottom: 270px;
        }
        
        .carousel-caption h5 {
          font-size: 45px;
          text-transform: uppercase;
          letter-spacing: 2px;
          margin-top: 25px;
        }
        
        .carousel-caption p {
          width: 75%;
          margin: auto;
          font-size: 18px;
          line-height: 1.9;
        }
        
        .navbar-light .navbar-brand {
          color: #fff;
          font-size: 25px;
          text-transform: uppercase;
          font-weight: bold;
          letter-spacing: 2px;
        }
        
        .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
          color: #fff;
        }
        
        .navbar-light .navbar-nav .nav-link {
          color: #fff;
        }
        
        .navbar-toggler {
          background: #fff;
        }
        
        .navbar-nav {
          text-align: center;
        }
        
        .nav-link {
          padding: .2rem 1rem;
        }
        
        .nav-link.active,.nav-link:focus{
          color: #fff;
        }
        
        .navbar-toggler {
          padding: 1px 5px;
          font-size: 18px;
          line-height: 0.3;
        }
        
        .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
          color: #fff;
        }
      
        .navbar-fixed-top.scrolled {
          background-color: #fff !important;
          transition: background-color 200ms linear;
        }
  
        .dropdown:hover .dropdown-menu{
            display: block;
        }
        .dropdown-menu{
            margin-top: 0;
        }
        /* /////// */
   
      
      /* //////////////////////// */
      #history{
      
        padding: 7% 15%;
        position: relative;
        background-color: #023353;
      
      }

      
      #cf {
        position:relative;
         height:281px;
        
        margin:0 auto;
        
      }
      
      #cf img {
        position:absolute;
        left:0;
        -webkit-transition: opacity 1s ease-in-out;
        -moz-transition: opacity 1s ease-in-out;
        -o-transition: opacity 1s ease-in-out;
        transition: opacity 1s ease-in-out;
      }
      
      #cf img.top:hover {
        opacity:0;
      }
      @keyframes cf3FadeInOut {
        0% {
        opacity:1;
      }
      45% {
      opacity:1;
      }
      55% {
      opacity:0;
      }
      100% {
      opacity:0;
      }
      }
      
   

      .img-sty2{
        height: 350px;
        object-fit: cover;
        object-position: center center;
      }
  
      /* ##### */

      #video{

        padding: 7% 15%;
        background-color: #9fd7fd;


    }

    #space_Vid{


      padding: 0.5%;
      background-color: #9fd7fd;
    }


    #beneficiaries{

      background-image:linear-gradient( rgba(6, 173, 240, 0.747) 100%, rgb(31, 31, 31)100%),url("../images/binifts.JPG")  ;      

      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  

          padding: 1% 15%;
          text-align: center;
  
          color:black;
    }




/* ///// */

#binifts{

background-image:linear-gradient( rgba(6, 173, 240, 0.747) 100%, rgb(31, 31, 31)100%),url("../images/what_for.JPG")  ;      

background-position: center;
background-repeat: no-repeat;
background-size: cover;
    padding: 1% 15%;
    text-align: center;
    color:black;
}


    video {
      width: 100%;
      height: auto;
    }

    .icon_Vid{
      animation: bounce; /* referring directly to the animation's @keyframe declaration */
      animation-duration: 2s; /* don't forget to set a duration! */
    }


    .icon_Vid:hover{
      color: green;
    }
    

    



    /* ###### */


    .numbers{
      text-align: center;
      background-color: #023353;
      color:black;
      padding: 4% 15%;
    }

    .icon_Number{

  color: #f7c024;
     }

    .icon_Number:hover{

  
  
      animation: bounce; /* referring directly to the animation's @keyframe declaration */
      animation-duration: 2s; /* don't forget to set a duration! */
     }


    #staff{


      text-align: center;
      background-color: white;
      color:#000;
      padding: 7% 15%;
    
    }
    

    
    .staff-image{
      width: 300;
    
      margin: 10px
    }
    



      /* ###### */

  
      
    
      
          /* //////////////////////// */
      #footer{
      
       
        padding: 6% ;
          text-align: center;
          background-color: #cfe5f4;
      
      
      }
      .fa{
      
      
      margin-left:  1rem;
      }
      
      .copy{
      
      padding: 1%;
      }
      

 
      
      @media screen and (max-width: 922px) {
        .img-sty2{
          height: 250px;
        object-fit: cover;
          object-position: center center;
        }
  
        /* ###### */
        #height{
          height: 50px;
        }
        /* ###### */
  
        #WhSMAV{
      
          padding: 0% 15%;
          position: relative;
          background-color:white ;
        
        }
        
    
      
        
            /* //////////////////////// */
        #footer{
        
         
          padding: 6% ;
            text-align: center;
            background-color: #cfe5f4;
        
        
        }
        
        
        
     
      
        
      
      
      
      
      }
  
/* ////////////// */
      h1{
        animation: bounce; /* referring directly to the animation's @keyframe declaration */
        animation-duration: 2s; /* don't forget to set a duration! */
      }
      p{
        animation: bounce; /* referring directly to the animation's @keyframe declaration */
        animation-duration: 2s; /* don't forget to set a duration! */
      }

      p:hover{
        color: yellowgreen;
      }
      
      h1:hover{
        color:#1096f0;
      }



      /* ////// */

  
      
  h6{
    color: white;
  }



  