/* ############## */

ul.arabic-list {
    width: 50%;
    list-style-type: none;
    direction: rtl;
    font-size: 1.25rem;
    text-align: right;
    margin-right: 0;
    padding-right: 0;
    float: left;
}

.arabic-list li {
    direction: rtl;
}

.arabic-list li:before {
    padding: 5px;
}

.arabic-list :before {
    content: "-";
}

#hajj-title {
    background-color: #f8d53d;
    padding: 6% 12%;
    text-align: center;
    color: #fff;
    margin-top: 6.25rem;
}

#proramm_SMAV {
    font-size: 1.25rem;
    background-color: #aeaeae;
    padding: 6% 12%;
    text-align: center;
    color: #fff;
}

#hajj-title p.mobiling {
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: justify;
}

#OurWay {
    color: white;
    background-color: #0d97cd;
    padding: 6% 12%;
    text-align: center;
}

.ourWayDist {
    font-size: 1.25rem;
    text-align: center;
}

.icon_programm:hover {
    animation: bounce;
    /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s;
    /* don't forget to set a duration! */
}

.card-body {
    box-sizing: border-box;
}


/* ##### */

#paths {
    background-color: #0d97cd;
    text-align: center;
    padding: 6% 12%;
    color: white;
    font-weight: bold;
}

#paths h3 {
    font-size: 3rem;
}

#paths p {
    font-size: 1.25rem;
}

#ourJobs .container .row {
    margin-bottom: 3rem;
}

#ourJobs h3 {
    width: 50%;
    text-align: right;
    font-size: 1.25rem;
    float: right;
}

.paths-image {
    border-radius: 10%;
    margin: 10px
}

.icon_paths {
    color: white;
}

.img-sty2 {
    height: 150px;
    object-fit: cover;
    object-position: center center;
}


/* ////// */

#title {
    background-color: #f8d53d;
    color: white;
}


/* //////// */

#inst {
    text-align: center;
    background-color: rgba(204, 204, 204, 0.747);
    padding: 7% 15%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.img-sty2 {
    height: 280px;
    object-fit: cover;
    object-position: center center;
}


/* ////// */

#ourJobs {
    color: white;
    background-color: #f8d53d;
    padding: 6% 12%;
    text-align: center;
}

.custom-div {
    width: 50%;
    float: right;
    display: block;
}

.custom-div.general {
    width: 50%;
}

.OurJobs-image {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center center;
    /*
    width: 100%;
    height: auto;
    border-radius: 10%;
    object-fit: fill;
    object-position: center center;*/
}


/* //////////////////////// */

.fa {
    margin-left: 1rem;
}

.copy {
    padding: 1%;
}

.card-body:hover {
    box-shadow: 0 8px 16px 0 gray;
}


/******************************************/

@media screen and (max-width: 922px) {
    /* ##### */
    /* #### */
    #height {
        height: 1px;
    }
    /* ###### */
    .img-sty {
        height: 750px;
        object-fit: cover;
        object-position: center center;
    }
}


/* //////////////////////// */

@media only screen and (max-width: 767.98px) {
    #hajj-title {
        margin-top: 18%;
    }
    .custom-div,
    #ourJobs h3,
    ul.arabic-list {
        width: 100%;
        text-align: center;
    }
    .custom-div,
    .custom-div.general {
        width: 100%;
    }
    .custom-div img {
        margin-left: 0;
    }
    .OurJobs-image {
        width: 140px;
        height: 140px;
        margin-bottom: 1.5rem;
    }
    #ourJobs .container .row {
        margin-bottom: 0;
    }
    .custom-div.general {
        margin-bottom: 3rem;
    }
    .reorder {
        display: flex;
        flex-flow: column;
    }
    .step1 {
        order: 1;
    }
    .step2 {
        order: 2;
    }
    .step3 {
        order: 3;
    }
    .step4 {
        order: 4;
    }
    .step5 {
        order: 5;
    }
    .step6 {
        order: 6;
    }
    .step7 {
        order: 7;
    }
}