#margin-corrector {
    height: 5.15rem;
}

#video-container {
    width: 100%;
    margin: 0 auto;
}

#video-container video {
    width: 85%;
    margin-bottom: 3rem;
}

.icon_programm {
    color: #2083c6;
}

.icon_programm:hover {
    animation: bounce;
    /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s;
    /* don't forget to set a duration! */
}

.card-body {
    box-sizing: border-box;
}

#WhSMAV a {
    color: white;
}

.part {
    float: left;
    width: 25%;
}


/* ##### */

.yellow {
    color: #f8d43d;
}

.green {
    color: #55ba6b;
}

.purple {
    color: #755aa5;
}

.paths-image {
    border-radius: 50%;
    width: 140px;
    height: 140px;
    object-fit: cover;
    object-position: center center;
}

.paths-image+p {
    margin-top: 0.5rem;
    font-weight: bold;
}


/* ////// */

#methodology {
    background-color: #aeaeae;
    padding: 6% 12%;
    text-align: center;
    color: white;
}

.icon_medthod:hover {
    color: #eef1f1;
    animation: bounce;
    /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s;
    /* don't forget to set a duration! */
}

.icon {
    padding: 5%
}


/* .fa {
    margin-left: 1rem;
} */

.copy {
    padding: 1%;
}

.card-body:hover {
    box-shadow: 0 8px 16px 0 gray;
}


/**************************************/

@media screen and (max-width: 922px) {
    .img-sty {
        height: 750px;
        object-fit: cover;
        object-position: center center;
    }
}


/**************************************/

@media only screen and (max-width: 767.98px) {
    #margin-corrector {
        height: 4.15rem;
    }
    .part {
        float: left;
        width: 100%;
    }
    #video-container video {
        width: 100%;
    }
}