@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@900&display=swap');
#height {
    height: 40px;
}


/* ############## */

#title {
    background-color: #55ba6c;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.mobiling {
    padding-top: 17rem;
    text-align: center;
    font-family: 'Noto Sans Display', sans-serif;
    font-size: 25;
}


/* //////////////////////// */

#Goals {
    background-image: linear-gradient( rgba(204, 204, 204, 0.747) 100%, rgb(31, 31, 31)100%), url("../images/SMAV_MATCH/ourG.JPG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1% 15%;
    text-align: center;
    color: black;
}


/* /////// */


/* ##### */


/* //////// */


/* ////// */

#Registers_requir {
    text-align: center;
    background-image: linear-gradient( rgba(85, 186, 108, 0.747) 100%, rgb(31, 31, 31)100%), url("../images/whatWeDo/method2.JPG");
    color: #000;
    padding: 7% 15%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.icon_Reg:hover {
    color: #55ba6c;
    animation: bounce;
    /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s;
    /* don't forget to set a duration! */
}

.tire {
    background-color: black;
    height: 0.5rem;
}

@media screen and (max-width: 922px) {
    .mobiling {
        padding-top: 1rem;
    }
    /* ##### */
    #footer {
        padding: 6%;
        text-align: center;
        background-color: #cfe5f4;
    }
    /* #### */
    #height {
        height: 1px;
    }
    /* ###### */
    .img-sty {
        height: 750px;
        object-fit: cover;
        object-position: center center;
    }
    /* ###### */
    /* //////////////////////// */
}