/* @import url('https://fonts.googleapis.com/css2?family=Cairo:wght@900&display=swap'); */

#height {
    height: 40px;
}


/* ############## */

#title {
    margin-top: 5%;
    padding: 6% 12%;
    background-color: #755ba5;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


/* #title .img-fluid {
    margin-top: 17%;
} */

#inst .aos-init p {
    font-weight: bold;
}

.mobiling {
    color: white;
    text-align: center;
    font-size: 25;
    text-align: justify;
}


/* //////////////////////// */

#Goals {
    background: #55ba6b;
    color: white;
    /* background-image: linear-gradient( rgba(22, 218, 15, 0.5) 100% 100%, rgb(31, 31, 31)100%), url("../images/bg-purple.jpg"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* padding: 1% 15%; */
    padding: 6% 12%;
    text-align: center;
    /* color: black; */
}


/* /////// */

#proramm_SMAV {
    background-color: #0d97cd;
    padding: 6% 12%;
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    position: relative;
    text-align: center;
    color: white;
}


/* ###### */

.icon_programm {
    color: white;
}


/* ////////////////// */

.card-body {
    box-sizing: border-box;
}


/* ##### */

#paths {
    color: white;
    background-color: #e4ca5e;
    text-align: center;
    /* background-image: linear-gradient( rgba(117, 91, 165, 0.747) 100%, rgb(31, 31, 31)100%), url("../images/SMAV_MATCH/trip.JPG"); */
    padding: 6% 12%;
    position: relative;
}

.paths-image {
    width: 300;
    border-radius: 10%;
    margin: 10px
}

.icon_paths {
    color: white;
}

.img-sty2 {
    height: 150px;
    object-fit: cover;
    object-position: center center;
}


/* ////// */


/* //////// */

#inst {
    background-color: #755ba5;
    text-align: center;
    color: white;
    /* background-color: rgba(204, 204, 204, 0.747); */
    padding: 6% 12%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.inst-image {
    width: 300;
    border-radius: 30%;
    margin: 10px;
    object-fit: fill;
    object-position: center center;
}

.img-sty2 {
    height: 280px;
    object-fit: cover;
    object-position: center center;
}


/* ////// */

#Registers_requir {
    background-color: #55ba6b;
    text-align: center;
    color: white;
    padding: 6% 12%;
    position: relative;
}

#Registers_requir a {
    color: white;
}

.icon {
    padding: 5%
}

#subecrip {
    text-align: center;
    color: white;
    padding: 6% 12%;
    position: relative;
    background-color: #0d97cd;
}


/* //////////////////////// */

.fa {
    margin-left: 1rem;
}

.copy {
    padding: 1%;
}

.card-body:hover {
    box-shadow: 0 8px 16px 0 gray;
}

@media screen and (max-width: 922px) {
    .mobiling {
        padding-top: 1rem;
    }
    /* ##### */
    #footer {
        padding: 6%;
        text-align: center;
        background-color: #cfe5f4;
    }
    /* #### */
    #height {
        height: 1px;
    }
    /* ###### */
    .img-sty {
        height: 750px;
        object-fit: cover;
        object-position: center center;
    }
    /* ###### */
    /* //////////////////////// */
}