<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <title>SMAV | Register</title>
    <link rel="icon" class="animated fadeinUp" href="images/SMAV_LOGO.png" type="images/x-icon">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="css/group.css">

    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/main_style.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@900&display=swap" rel="stylesheet">



    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        .inputs {
            float: left;
        }

        ::placeholder {
            /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: #cccccc;
            opacity: 1;
            /* Firefox */
        }

        :-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            color: #cccccc;
        }

        ::-ms-input-placeholder {
            /* Microsoft Edge */
            color: #cccccc;
        }

        select {
            color: #cccccc;
        }
    </style>

</head>



<body>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>

    <nav class="navbar navbar-expand-lg navbar-light fixed-top navbar-fixed-top bg-light animated fadeinUp">

        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="SMAV_MATCH">SMAV MATCH</a>
                    </li>

                    <!-- <li class="nav-item">
                    <a class="nav-link test" href="./whoSMAV.html">من نحن ؟</a>
                </li> -->

                    <!-- <li class="nav-item">
                        <a class="nav-link" href="../WhatWeDo.html">برامجنا  </a>
                    </li> -->

                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data toggle="dropdown">التسجيل </a>
                        <div class="dropdown-menu">
                            <a href="sign_up_Individuals" class="dropdown-item">افراد </a>
                            <a href="sign_up_group" class="dropdown-item">مجموعات</a>
                        </div>
                    </div>

                    <li class="nav-item">
                        <a class="nav-link" href="/">الصفحة الرئيسة </a>
                    </li>


                </ul>
            </div>
            <a class="navbar-brand" href="/">
                <img alt="SMAV Academy" id="header-logo" src="../images/LOGO-01.png">
            </a>

        </div>
    </nav>
    <section></section>

    <section id="registerForm">

        <div class="container ">

            <div class="card-body content">
                <% if (message) { %>
                    <div class="col-lg-6 col-md-9 alert alert-danger alert-dismissible fade show">
                        <strong>!!خطأ</strong> الايميل مستخدم
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                    </div>
                    <% } %>
                        <% if (message2) { %>
                            <div class="col-lg-6 col-md-9 alert alert-success alert-dismissible fade show">
                                تم تسجيل بياناتك بنجاح
                                <a href="/"> للعودة من هنا </a>
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                            </div>
                            <% } %>
                                <form action="sign_up_group" method="POST" enctype="multipart/form-data">
                                    <div class="row">

                                        <div class="col-lg-6 col-md-9">
                                            <br><br><br><br>


                                            <h1 style="text-align: right; font-size: large; ">
                                                شروط الفيديو
                                            </h1>
                                            <p style="text-align: right ; font-weight: bold; font-size: large; color: white;">
                                                أن تكون مدة الفيديو من ٤٥ إلى ٦٠ ثانية

                                            </p>


                                            <p style="text-align: right; font-weight: bold; font-size: large; color: white;">
                                                أن يكون الفيديو بجودة مناسبة

                                            </p>


                                            <p style="text-align: right; font-weight: bold; font-size: large; color: white;">
                                                أن يظهر المتطوع في الفيديو ( غير إلزامي للإناث )

                                            </p>

                                            <p style="text-align: right; font-weight: bold; font-size: large; color: white;">
                                                رفع الفيديو على أي موقع يناسب المتطوع، وإرسال الرابط عن طريق استمارة
                                                التسجيل.

                                            </p>


                                            <p style="text-align: right; font-weight: bold; font-size: large; color: white;">
                                                لن يُقبل الفيديو في حال تم إرفاقه على الايميل.

                                            </p>



                                            <h1 style="text-align: right;  font-size: large;">
                                                عن ماذا أتكلم في الفيديو؟

                                            </h1>

                                            <p style="text-align: right; font-weight: bold; font-size: large; color: white;">

                                                عرّف عن نفسك باختصار
                                            </p>

                                            <p style="text-align: right; font-weight: bold; font-size: large; color: white;">

                                                ماهي خبراتك السابقة في ميادين العمل التطوعي؟
                                            </p>


                                            <p style="text-align: right; font-weight: bold; font-size: large; color: white;">

                                                باختصار، تحدث عما يُميّزك؟

                                            </p>


                                            <h1 style="text-align: right; font-weight: bold; font-size: medium; ">

                                                اختر أحد هذه الأسئلة وأجب بشكل مختصر
                                            </h1>

                                            <p style="text-align: right; font-weight: bold; font-size: large; color: white;">
                                                ماذا تتوقع من مشاركتك في البرنامج
                                            </p>

                                            <p style="text-align: right; font-weight: bold; font-size: large; color: white;">

                                                ماذا ستضيف للبرنامج
                                            </p>



                                            <div class="frontside">
                                                <div class="card ">
                                                    <div class="card-body text-center">
                                                        <h4 class="card-title ">
                                                            <i class="fas fa-user-circle"></i> المعلومات الشخصية
                                                        </h4>
                                                        <div class="row">
                                                            <div class="col-md-9 mb-3">
                                                                <select name="company"
                                                                    class="col-md-12 select effect-16 inputs" required>
                                                                    <option value=""> الجهة </option>
                                                                    <option value="umm-alqura_uni"> جامعة ام القرى
                                                                    </option>
                                                                    <option value="taif_uni ">جامعة الطائف </option>
                                                                    <option value="jazan_uni"> جامعة جازان </option>
                                                                    <option value="taibah_uni"> جامعة طيبة </option>
                                                                    <option value="jed_uni"> جامعة جدة </option>
                                                                    <option value="ehsan_com">جمعية احسان الطبية بجازان
                                                                    </option>
                                                                    <option value="rakha_com"> جمعية لمسة رخاء </option>
                                                                    <option value="darham_com"> جمعية درهم وقاية
                                                                    </option>
                                                                    <option value="zam_com"> جمعية زمزم </option>
                                                                </select>
                                                                <span class="focus-border"></span>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-lg-6 col-md-9">
                                                                <input type="text" class="effect-16 col-md-12 inputs"
                                                                    id="lastName_En" name="thirdName_AR"
                                                                    placeholder="الاسم الثلاثي بالعربي " value=""
                                                                    required>
                                                                <span class="focus-border"></span>
                                                            </div>
                                                        </div>


                                                        <div class="row">
                                                            <div class="col-lg-6 col-md-9">
                                                                <input type="text" class="effect-16 col-md-12 inputs"
                                                                    id="firstName_En" name="firstName_En"
                                                                    placeholder="First Name" value="" required>
                                                                <span class="focus-border"></span>
                                                            </div>
                                                        </div>


                                                        <div class="row">
                                                            <div class="col-lg-6 col-md-9">
                                                                <input type="text" class="effect-16 col-md-12 inputs"
                                                                    id="middleName_En" name="middleName_En"
                                                                    placeholder="Middle Name" value="" required>
                                                                <span class="focus-border"></span>

                                                            </div>
                                                        </div>


                                                        <div class="row">
                                                            <div class="col-lg-6 col-md-9">
                                                                <input type="text" class="effect-16 col-md-12 inputs"
                                                                    id="lastName_En" name="lastName_En"
                                                                    placeholder="Last Name" value="" required>
                                                                <span class="focus-border"></span>
                                                            </div>
                                                        </div>


                                                        <div class="row">

                                                            <div class="col-md-9 mb-3">
                                                                <input type="number" class="col-md-12 effect-16 inputs"
                                                                    name="identity_id" min="1000000000"
                                                                    placeholder="رقم الهوية" value="" required>
                                                                <span class="focus-border"></span>
                                                            </div>
                                                        </div>


                                                        <div class="row">

                                                            <div class="col-md-9 mb-3">

                                                                <input type="number" class="col-md-12 effect-16 inputs"
                                                                    min="500000000" name="phone" value=""
                                                                    placeholder=" رقم الجوال " required>
                                                                <span class="focus-border"></span>
                                                            </div>
                                                        </div>


                                                        <div class="row">

                                                            <div class="col-md-9 mb-3">

                                                                <input type="email" class="col-md-12 effect-16 inputs"
                                                                    name="email" value=""
                                                                    placeholder="البريد الالكتروني   " required>
                                                                <span class="focus-border"></span>
                                                            </div>
                                                        </div>

                                                        <div class="row">

                                                            <div class="col-md-9 mb-3">
                                                                <select name="gender"
                                                                    class="col-md-12 select effect-16 inputs" required>
                                                                    <option value="">-- الجنس --</option>
                                                                    <option value="male">ذكر</option>
                                                                    <option value="female">أنثى</option>

                                                                </select>
                                                                <span class="focus-border"></span>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-9 mb-3">
                                                                <input type="number" class="col-md-12 effect-16 inputs"
                                                                    id="age" name="age" placeholder="العمر " min="14"
                                                                    max="100" required>
                                                                <span class="focus-border"></span>
                                                            </div>
                                                        </div>
                                                        <div class="row">


                                                            <div class="col-md-9 mb-3">
                                                                <select name="city"
                                                                    class="col-md-12 select effect-16 inputs"
                                                                    onchange="CheckingOther_city(this.value);" required>
                                                                    <option value="">-- المدينة --</option>
                                                                    <option value="Riyadh">الرياض</option>
                                                                    <option value="Makkah">مكة المكرمة</option>
                                                                    <option value="jeddah">جدة</option>
                                                                    <option value="Dammam">دمام</option>
                                                                    <option value="Abha">أبها</option>
                                                                    <option value="Taif">الطائف</option>
                                                                    <option value="Qassim">القصيم</option>
                                                                    <option value="Jazan">جازان</option>
                                                                    <option value="Medinah">المدينة المنورة</option>
                                                                    <option value="Eastern">الشرقية</option>
                                                                    <option value="Najran">نجران</option>
                                                                    <option value="Al-Baha">الباحة</option>
                                                                    <option value="Tabouk">تبوك</option>
                                                                    <option value="Aseer">عسير</option>
                                                                    <option value="other">غير ذلك</option>
                                                                </select>

                                                                <input type="text" id="other_id_city" name="city"
                                                                    style='display:none;' />
                                                                <span class="focus-border"></span>
                                                            </div>
                                                        </div>

                                                        <h4 class="card-title academic">
                                                            <i class="fas fa-university"></i> المعلومات الأكاديمية
                                                        </h4>
                                                        <div class="row">

                                                            <div class="col-md-9 mb-3">
                                                                <select name="EducationLevel"
                                                                    class="col-md-12 select effect-16 inputs"
                                                                    onchange='CheckingOther_eduLev(this.value);'
                                                                    required>
                                                                    <option value="">-- المرحلة التعليمية --</option>
                                                                    <option value="1st year student"> طالب في السنة
                                                                        الأولى </option>
                                                                    <option value="2nd year student">طالبة في السنة
                                                                        الثانية </option>
                                                                    <option value="3rd year student"> طالب في السنة
                                                                        الثالثة </option>
                                                                    <option value="4th year student "> طالب سنة رابعة
                                                                    </option>

                                                                    <option value="5th year student">طالب سنة خامسة
                                                                    </option>
                                                                    <option value="6th year student"> طالب سنة سادسة
                                                                    </option>
                                                                    <option value="fresh graduate"> خريج حديث </option>

                                                                    <option value="Intern">متدرب </option>
                                                                    <option value="R1"> R1 </option>
                                                                    <option value="R2">R2 </option>


                                                                    <option value="R3">R3 </option>
                                                                    <option value="R4"> R4 </option>
                                                                    <option value="Specialist ">متخصص </option>

                                                                    <option value="consultant ">مستشار </option>
                                                                    <option value="other"> غير ذلك </option>

                                                                    <input type="text" id="other_id_EducationLevel"
                                                                        name="EducationLevel" style='display:none;' />

                                                                </select>
                                                                <span class="focus-border"></span>
                                                            </div>
                                                        </div>


                                                        <div class="row">

                                                            <div class="col-md-9 mb-3">

                                                                <input type="text" class="col-md-12 effect-16"
                                                                    name="university" placeholder="مكان العمل " value=""
                                                                    required>
                                                                <span class="focus-border"></span>
                                                            </div>
                                                        </div>

                                                        <div class="row">

                                                            <div class="col-md-9 mb-3">
                                                                <select name="Specialty"
                                                                    class="col-md-12 select effect-16 inputs" required
                                                                    onchange='CheckingOther_spe(this.value);'>
                                                                    <option value="">-- التخصص --</option>
                                                                    <option value="medicine "> طب </option>
                                                                    <option value="dentistry ">طب الأسنان </option>
                                                                    <option value="pharmacy"> الصيدلة </option>
                                                                    <option value="nursing "> التمريض </option>
                                                                    <option value="public health"> الصحة العامة
                                                                    </option>
                                                                    <option value="Applied Medical Sciences">العلوم
                                                                        الطبية التطبيقية </option>
                                                                    <option value="other"> غير ذلك </option>
                                                                </select>

                                                                <input type="text" id="other_id_Specialty"
                                                                    name="Specialty" style='display:none;' />

                                                                <span class="focus-border"></span>
                                                            </div>

                                                        </div>

                                                        <div class="row">

                                                            <div class="col-md-9 mb-3">
                                                                <input type="text" class="col-md-12 effect-16"
                                                                    name="SCFHS" value=""
                                                                    placeholder="رقم هيئة التخصصات الصحية (اختياري) ">
                                                                <span class="focus-border"></span>
                                                            </div>
                                                        </div>

                                                        <div class="row">

                                                            <div class="col-md-9 mb-3">
                                                                <select name="times"
                                                                    class="col-md-12 select effect-16 inputs" required>
                                                                    <option value=""> كم عدد مرات التطوع </option>
                                                                    <option value="1 "> 1 </option>
                                                                    <option value="2 ">2 </option>
                                                                    <option value="3"> 3 </option>
                                                                    <option value="4 "> 4 </option>
                                                                    <option value="5"> 5 </option>
                                                                    <option value="6">6 </option>
                                                                    <option value="7"> 7 </option>

                                                                    <option value="8 "> 8 </option>
                                                                    <option value="9"> 9 </option>
                                                                    <option value="10">10 </option>
                                                                    <option value="10>"> +10 </option>
                                                                </select>
                                                                <span class="focus-border"></span>
                                                            </div>


                                                        </div>


                                                        <div class="row">
                                                            <div class="col-md-9 mb-3">
                                                                <input type="text" class="col-md-12 effect-16"
                                                                    name="skills" placeholder="الهوايات والمواهب  " value="" required>
                                                                <span class="focus-border"></span>
                                                            </div>
                                                        </div>

                                                        <div class="row">

                                                            <div class="col-md-9 mb-3">
                                                                <input type="text" class="col-md-12 effect-16"
                                                                    name="url_video"
                                                                    placeholder="اضف رابط الفيديو هنا (اختياري ) ">
                                                                <br>
                                                                <br>
                                                              

                                                                <span class="focus-border"></span>
                                                            </div>
                                                        </div>



                                                        <div class="row">

                                                            <div class="col-md-12">

                                                                <input type="hidden" name="_csrf"
                                                                    value="<%= csrfToken %>">
                                                                <button type="submit"
                                                                    class="btn btn-info">تسجيل</button>
                                                            </div>
                                                        </div>


                                                    </div>



                                                </div>


                                            </div>

                                        </div>

                                    </div>







                                </form>
            </div>
        </div>
    </section>

    <%- include('../includes/footer') %>


        <script type="text/javascript">
            function CheckingOther_city(val) {
                var element_city = document.getElementById('other_id_city');
                var element_eduLev = document.getElementById('other_id_EducationLevel');
                if (val == 'other')
                    element_city.style.display = 'block';
                else
                    element_city.style.display = 'none';


            }


            function CheckingOther_eduLev(val) {


                var element_eduLev = document.getElementById('other_id_EducationLevel');



                if (val == 'other')
                    element_eduLev.style.display = 'block';
                else
                    element_eduLev.style.display = 'none';


            }



            function CheckingOther_spe(val) {

                var element_spe = document.getElementById('other_id_Specialty');



                if (val == 'other')
                    element_spe.style.display = 'block';
                else
                    element_spe.style.display = 'none';
            }
        </script>

</body>

</html>