.carousel-item {
    /* height: 100vh; */
    /* min-height: 300px; */
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #cfe5f4;
}

.carousel-caption {
    bottom: 270px;
}

.carousel-caption h5 {
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}

.carousel-caption p {
    width: 75%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
}

#footer .navbar-light .navbar-brand {
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

#footer .navbar-light .navbar-nav .active>.nav-link,
#footer .navbar-light .navbar-nav .nav-link.active,
#footer .navbar-light .navbar-nav .nav-link.show,
#footer .navbar-light .navbar-nav .show>.nav-link {
    color: #fff;
}

#footer .navbar-light .navbar-nav .nav-link {
    color: #fff;
}

#footer .navbar-toggler {
    background: #fff;
}

#footer .navbar-nav {
    text-align: center;
}

#footer .nav-link {
    padding: .2rem 1rem;
}

#footer .nav-link.active,
#footer .nav-link:focus {
    color: #fff;
}

#footer .navbar-toggler {
    padding: 1px 5px;
    font-size: 18px;
    line-height: 0.3;
}

#footer .navbar-light .navbar-nav .nav-link:focus,
#footer .navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
}

#footer .navbar-fixed-top.scrolled {
    background-color: #fff !important;
    transition: background-color 200ms linear;
}

#footer {
    padding: 6% 12%;
    /* background-color: #f8d43d; */
    /* color: black; */
    background-color: #755aa5;
    color: white;
}

#footer a {
    /* color: black; */
    color: white;
}

.copy {
    text-align: center;
    margin-bottom: 0;
    margin-top: 2rem;
}

img.center {
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}

footer .col-md-3 {
    text-align: center;
}

.social-media {
    width: 100%;
}

.social-media a {
    margin-bottom: 1rem;
    display: block;
    width: 100%;
    color: white;
}

#footer a i,
#footer p i {
    font-size: 1.25rem;
    margin-left: 1.25rem;
}