/* 
blue = #0d97cd
purple = #755aa5 
yellow = #f8d43d
green = #55ba6b
*/

@font-face {
    font-family: 'Neo Sans Arabic Light';
    font-style: normal;
    font-weight: normal;
    src: local('Neo Sans Arabic Light'), url('../neo-sans-arabic-cufonfonts-webfont/NeoSansArabicLight.woff') format('woff');
}

@font-face {
    font-family: 'Neo Sans Arabic Black';
    font-style: normal;
    font-weight: normal;
    src: local('Neo Sans Arabic Black'), url('../neo-sans-arabic-cufonfonts-webfont/NeoSansArabicBlack.woff') format('woff');
}

h1,
h2,
h3,
h4 {
    font-family: 'Neo Sans Arabic Black';
}

label,
p,
div {
    font-family: 'Neo Sans Arabic Light';
}

.full-width-img {
    width: 100%;
}

.icon_Reg:hover,
.icon_programm:hover,
.icon_Vid:hover,
.icon_about:hover,
.icon_Number:hover {
    color: #cddc39;
    animation: bounce;
    /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s;
    /* don't forget to set a duration! */
}

#hands {
    display: none;
    padding: 1% 1%;
}

.img-sty {
    /* height: 950px; */
    height: 400px;
    object-fit: cover;
    object-position: center center;
}

.nav-link {
    color: black;
}

.nav-item {
    min-width: 7rem;
    text-align: center;
}

.numbers {
    /* background-image: linear-gradient( rgba(252, 249, 71, 0.774) 100%, rgba(255, 251, 13, 0.5)100%), url("../images/bg-purple.jpg"); */
    text-align: center;
    padding: 6% 12%;
    color: white;
    background-color: #0d97cd;
}

.icon_Number {
    /* color: #000000; */
}

#Goals {
    background: #55ba6b;
    color: white;
    /* background-image: linear-gradient( rgba(22, 218, 15, 0.5) 100% 100%, rgb(31, 31, 31)100%), url("../images/bg-purple.jpg"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* padding: 1% 15%; */
    padding: 6% 12%;
    text-align: center;
    /* color: black; */
}

.tire {
    /* background-color: white; */
    /* height: 0.1rem; */
}

#WhSMAV {
    background-color: #0d97cd;
    color: white;
    /* background-image: url("../images/bg-purple.jpg"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 6% 12%;
    text-align: center;
}

#WhSMAV .row img {
    height: auto;
    width: 20rem;
}

#header-logo {
    float: right;
    width: 25%;
    height: auto;
}

h1 {
    text-align: center;
    margin-bottom: 3rem;
}

p.underTitle {
    font-size: 1.25rem;
    text-align: center;
    width: 100%;
    /* margin-bottom: 0; */
}

p {
    direction: rtl;
}


/* by ali 2021-10-26 */

.img-col3 {
    height: 845px;
    object-fit: cover;
    object-position: center center;
}


/* ///// */


/* //////////////////////// */


/* //////// */


/* ###### */

#hands::after {
    animation: bounce;
    /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s;
    /* don't forget to set a duration! */
}


/* ////// */

.about {
    height: 10vh;
    min-height: 200px;
}

.icon {
    padding: 5%
}


/* ///// */

.fa {
    margin-left: 1rem;
}

.dropdown-menu a.dropdown-item {
    text-align: right;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    margin-top: 0;
}

#carouselExampleIndicators {
    margin-top: 5%;
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
    /* For portrait layouts only */
    a.navbar-brand {
        width: 50%;
    }
}

@media only screen and (max-width: 600px) {
    .img-sty {
        /* height: 700px; */
        object-fit: cover;
        object-position: center center;
    }
    .img-col3 {
        height: 600px;
        object-fit: cover;
        object-position: center center;
    }
    .centered {
        position: absolute;
        top: 10%;
        left: 10%;
        transform: translate(-50%, -50%);
    }
    video {
        width: 100%;
        height: auto;
    }
    .mobile_slide {
        object-fit: contain;
    }
}


/* by ali 2021-10-26 */


/* start mobile */

@media only screen and (max-width: 767.98px) {
    #WhSMAV .row img {
        height: auto;
        width: 100%;
    }
    .navbar-collapse.collapse.show~a.navbar-brand {
        margin: 0 auto;
    }
    #title {
        margin-top: 18.25%;
    }
    img.center {
        width: 33%;
    }
    a.navbar-brand {
        width: 30%;
    }
    #header-logo {
        width: 100%;
    }
    h1 {
        margin-bottom: 1.5rem;
    }
    .img-sty {
        height: auto;
        width: 100%;
    }
    #carouselExampleIndicators {
        margin-top: 8.25vh;
    }
}


/* iphone6 6+ */


/* iPhone 5 */

@media (max-device-width: 320px) {
    #carouselExampleIndicators {
        margin-top: 10.25vh;
    }
}