/* @import url('https://fonts.googleapis.com/css2?family=Cairo:wght@900&display=swap'); */

#height {
    height: 40px;
}


/* ############## */

#title {
    margin-top: 6%;
    padding: 6% 12%;
    background-color: #755ba5;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


/* #title .img-fluid {
margin-top: 17%;
} */

#inst .aos-init p {
    margin-bottom: 0.5rem;
    /* font-weight: bold; */
}

#inst .aos-init p.fullname {
    font-weight: bold;
}

.mobiling {
    color: white;
    font-size: 1.5rem;
    text-align: justify;
}


/* //////////////////////// */

#goals1 {
    background: #0d97cd;
    color: white;
    padding: 6% 12%;
    text-align: center;
}

#goals2 {
    background: #aeaeae;
    color: white;
    padding: 6% 12%;
    text-align: center;
}


/* /////// */

#proramm_SMAV {
    background-color: #755ba5;
    padding: 6% 12%;
    position: relative;
    text-align: center;
    color: white;
}


/* ###### */

.icon_programm {
    color: white;
}


/* ////////////////// */

.card-body {
    box-sizing: border-box;
}


/* ##### */

#paths {
    color: white;
    background-color: #0d97cd;
    text-align: center;
    /* background-image: linear-gradient( rgba(117, 91, 165, 0.747) 100%, rgb(31, 31, 31)100%), url("../images/SMAV_MATCH/trip.JPG"); */
    padding: 6% 12%;
    position: relative;
}

.paths-image {
    width: 300;
    border-radius: 10%;
    margin: 10px
}

.icon_paths {
    color: white;
}


/* ////// */


/* //////// */

#inst {
    background-color: #aeaeae;
    text-align: center;
    color: white;
    /* background-color: rgba(204, 204, 204, 0.747); */
    padding: 6% 12%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


/* .inst-image {
width: 300;
border-radius: 30%;
margin: 10px;
object-fit: fill;
object-position: center center;
} */

.img-sty2 {
    margin: 10px;
    border-radius: 50%;
    width: 280px;
    height: 280px;
    object-fit: cover;
    object-position: center center;
    padding: 6%;
    margin-bottom: 0;
}


/* ////// */

#Registers_requir {
    background-color: #755ba5;
    text-align: center;
    color: white;
    padding: 6% 12%;
    position: relative;
}

#Registers_requir a {
    color: white;
}

.icon {
    padding: 5%
}

#subecrip {
    text-align: center;
    color: white;
    padding: 6% 12%;
    position: relative;
    background-color: #0d97cd;
}


/* //////////////////////// */

.fa {
    margin-left: 1rem;
}

.copy {
    padding: 1%;
}

.card-body:hover {
    box-shadow: 0 8px 16px 0 gray;
}

.slogan {
    margin-top: 1rem;
}

.slogan p {
    font-size: 1.75rem;
    text-align: center;
    /* font-weight: bold; */
    color: white;
    margin-bottom: 1.5rem;
}

@media screen and (max-width: 922px) {
    .mobiling {
        padding-top: 1rem;
    }
    /* ##### */
    #footer {
        padding: 6%;
        text-align: center;
        background-color: #cfe5f4;
    }
    /* #### */
    #height {
        height: 1px;
    }
    /* ###### */
    .img-sty {
        height: 750px;
        object-fit: cover;
        object-position: center center;
    }
    /* ###### */
    /* //////////////////////// */
}

@media only screen and (max-width: 767.98px) {
    /* change order on mobile only */
    .educational-journey {
        display: flex;
        flex-flow: column;
    }
    .step1 {
        order: 1;
    }
    .step2 {
        order: 2;
    }
    .step3 {
        order: 3;
    }
    .step4 {
        order: 4;
    }
    .img-sty2 {
        margin: 0;
        height: 200px;
        width: 200px;
    }
    .slogan p {
        text-align: right;
        font-size: 1.5rem;
    }
}