<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>SMAV</title>
    <link rel="icon" class="animated fadeinUp" href="images/SMAV_LOGO.png" type="images/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/v4-shims.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/main.css?v=2">
    <link rel="stylesheet" href="css/main_style.css?v=2">
    <link rel="stylesheet" href="css/whoR.css?v=2">
    <link rel="stylesheet" href="css/closed.css?v=2">


    <link rel="stylesheet" type="text/css"
    href="css/neo-sans-arabic-cufonfonts-webfont/style.css?v=2"/>
    
</head>

<nav class="navbar navbar-expand-lg navbar-light fixed-top navbar-fixed-top bg-light animated fadeinUp">

    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#">مسارات الأكاديمية</a>

                    <div class="dropdown-menu">
                        <a href="/SMAV_HAJJ" class="dropdown-item">SMAV Hajj </a>
                        <a href="/smav_match" class="dropdown-item">Smav Match</a>
                        <a href="/SMAV_RELIEF" class="dropdown-item">Smav Relief</a>

                    </div>


                </li>

               
                
                <li class="nav-item dropdown">
                    <a class="nav-link" href="/"> التقييم  </a>



                </li>



    <%  if(isAuthenticated){%>
        <form id="magic-form" action="/logout" method="POST">
          <input type="hidden" name="_csrf" value=<%=csrfToken%> 
          <input type="text">
  
  </form>
  <%  }%>

                <a href="/logout"
                onclick="event.preventDefault();
                document.getElementById('magic-form').submit();">
                تسجيل خروج 
              </a>


            </ul>
        </div>
        <a class="navbar-brand" href="/">
            <img alt="SMAV Academy" id="header-logo" src="images/LOGO-01.png">
        </a>

    </div>
</nav>