<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>SMAV MATCH</title>
    <link rel="icon" class="animated fadeinUp" href="images/SMAV_MATCH/logo_match.png" type="images/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/v4-shims.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/smav_match.css?v=2">
    <link rel="stylesheet" href="css/main_style.css?v=2">
    <link rel="stylesheet" href="css/main.css?v=2">
</head>

<body>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <nav class="navbar navbar-expand-md navbar-light fixed-top navbar-fixed-top bg-light animated fadeinUp">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">

                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data toggle="dropdown">SMAV MATCH</a>
                        <div class="dropdown-menu">
                            <a href="./SMAV_MATCH#title" class="dropdown-item"> ماهي سماف مجتمعي ؟
         </a>
                            <a href="./SMAV_MATCH#goals2" class="dropdown-item">
          اهدافنا
        </a>
                            <a href="./SMAV_MATCH#proramm_SMAV" class="dropdown-item"> 
          
          في البرنامج
        </a>
                            <a href="./SMAV_MATCH#paths" class="dropdown-item"> 
        الرحلة التعليمية  
        </a>
                            <a href="./SMAV_MATCH#Registers_requir" class="dropdown-item">  
          متطلبات التسجيل 
        </a>
                            <a href="./SMAV_MATCH#subecrip" class="dropdown-item">  
          شركاؤنا
        </a>
                        </div>
                    </div>

                    <li class="nav-item">
                        <a class="nav-link" href="whatwedo">برامجنا</a>
                    </li>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data toggle="dropdown">التسجيل </a>
                        <div class="dropdown-menu">
                            <a href="/sign_up_Individuals" class="dropdown-item">افراد </a>
                            <a href="/sign_up_group" class="dropdown-item">مجموعات</a>
                        </div>
                    </div>
                    <li class="nav-item">
                        <a class="nav-link" href="/">
                        الصفحة الرئيسة  </a>
                    </li>
                </ul>
            </div>
            <a class="navbar-brand" href="/">
                <img alt="SMAV Academy" id="header-logo" src="images/SMAV_MATCH/smav-match-logo-new.png">
            </a>
        </div>
    </nav>
    <section class="tire"></section>
    <section id="title">
        <div class="container" data-aos="fade-up">
            <div class="row front-new">
                <div class="col-lg-6">
                    <img src="images/SMAV_MATCH/front-new.jpg" class="img-fluid">
                </div>
                <div class="col-lg-6">
                    <p class="mobiling animated fadeInUp ease-out-circ d2 a-1 f2 fw3">من رؤيتنا الملهمة 2030:
                        <p class="mobiling animated fadeInUp ease-out-circ d2 a-1 f2 fw3">
                            جودة الحياة
                        </p>
                        <p class="mobiling animated fadeInUp ease-out-circ d2 a-1 f2 fw3">
                            نموذج الرعاية الصحية
                        </p>
                        <p class="mobiling animated fadeInUp ease-out-circ d2 a-1 f2 fw3">
                            التعلم مدى الحياة
                        </p>
                        <p class="mobiling animated fadeInUp ease-out-circ d2 a-1 f2 fw3">
                            مليون متطوع
                        </p>
                    </p>
                    <p class="mobiling animated fadeInUp ease-out-circ d2 a-1 f2 fw3" style="font-weight: bolder;">
                        كانت مفتاح إلهامنا لهذا البرنامج ...
                    </p>
                </div>
            </div>
            <div class="row slogan">
                <div class="col-lg-12">
                    <p class="mobiling animated fadeInUp ease-out-circ d2 a-1 f2 fw3">
                        برنامج مخصص للمتطوعين الصحيين الذين لديهم شغف للعمل التطوعي وخدمة المجتمع يركز البرنامج على تأسيس المعارف والوعي وبعض المهارات الأساسية للمتطوع في البرامج الصحية والخدمات الموجهة للفئات الضعيفة في المجتمع و يركز على بناء جدارات المتطوع و توجيه وعيه ومواهبه
                        لرسم مساره التطوعي وتصميم فرصته التطوعية
                    </p>
                </div>
            </div>
    </section>
    <section class="tire"></section>
    <section id="goals1">
        <div class="row ">
            <div class="col-md-12">
                <h1 class="animated fadeinUp"> مبررات البرنامج </h1>
            </div>
            <div class="col-lg-4 animated fadeinLeft">
                <i class="fas fa-flag fa-4x icon_about icon" data-aos="fade-up"></i>
                <p class="justify" data-aos="fade-up">
                    تبني دور وطني في تحسين ونمذجة العمل التطوعي الطبي.
                </p>
            </div>
            <div class="col-lg-4 animated fadeinLeft">
                <i class="fas fa-hands-helping fa-4x icon_about icon" data-aos="fade-up"></i>
                <p class=" justify" data-aos="fade-up">
                    رفد الجهات المتخصصة بالخدمات الصحية المجتمعية بالكوادر التطوعية المؤهلة للمشاركة في برامجها التطوعية بكفاءة ومهنية.
                </p>
            </div>
            <div class="col-lg-4 animated fadeinLeft">
                <i class="fas  fa-angle-double-up fa-4x icon_about icon" data-aos="fade-up"></i>
                <p data-aos="fade-up ">
                    تحسين جودة البرامج الصحية المجتمعية من خلال فهم أشمل لمكونات نموذج الرعاية الصحية وممارسات التطوع الصحي الفاعلة.
                </p>
            </div>
        </div>
    </section>
    <section id="goals2">
        <div class="row ">
            <div class="col-md-12">
                <h1 class="animated fadeinUp"> أهدافنا </h1>
            </div>
            <div class="col-lg-6 animated fadeinLeft">
                <i class="fas fa-tasks fa-4x icon_about icon" data-aos="fade-up"></i>
                <p class="justify" data-aos="fade-up">
                    الوصول لفهم أعمق لأدبيات ومبادئ التطوع الصحي المجتمعي في مختلف العلوم الصحية.
                </p>
            </div>
            <div class="col-lg-6 animated fadeinLeft">
                <i class="fas fa-notes-medical fa-4x icon_about icon" data-aos="fade-up"></i>
                <p class=" justify" data-aos="fade-up">
                    التعرف على الجدارات الذاتية والاتصالية للمارس الصحي وتطبيقاتها في برامج ومبادرات التطو ع الصحي.
                </p>
            </div>
            <div class="col-lg-4 animated fadeinLeft">
                <i class="fas  fa-pencil-ruler fa-4x icon_about icon" data-aos="fade-up"></i>
                <p data-aos="fade-up ">
                    تطوير ممارسات التطوع الصحي من خلال فهم الأسس العلمية في صحة المجتمع، ونموذج الرعاية الصحية.
                </p>
            </div>
            <div class="col-lg-4 animated fadeinLeft">
                <i class="fas  fa-chalkboard fa-4x icon_about icon" data-aos="fade-up"></i>
                <p data-aos="fade-up ">
                    تزويد المشارك بالمهارات اللازمة في تصميم وتنفيذ المبادرات الصحية المجتمعية. </p>
            </div>
            <div class="col-lg-4 animated fadeinLeft">
                <i class="fas fa-file fa-4x icon_about icon" data-aos="fade-up"></i>
                <p data-aos="fade-up ">
                    تعزيز جوانب الابتكار والبحث العلمي في مشاريع التطوع الصحي المجتمعي.
            </div>
        </div>
    </section>
    <section class="tire"></section>
    <section id="proramm_SMAV">
        <div class="row ">
            <div class="col-md-12">
                <h1 class="animated fadeinUp"> في البرنامج </h1>
            </div>
            <div class="col-lg-4 animated fadeinLeft">
                <i class="fas fa-clinic-medical fa-4x icon_programm icon" data-aos="fade-up"></i>
                <p class="justify" data-aos="fade-up"> ١٢ وحدة تعليمية لمواضيع مرتبطةً بالتطوع الصحي المجتمعي
                </p>
            </div>
            <div class="col-lg-4 animated fadeinLeft">
                <img src="images/logos/commis-new.png" height="100x" width="190px" data-aos="fade-up">
                <p class=" justify" data-aos="fade-up">
                    تعليم طبي معتمد من الهيئة السعودية للتخصصات الصحية
                </p>
            </div>
            <div class="col-lg-4 animated fadeinLeft">
                <i class="fas fa-user-md fa-4x icon_programm icon" data-aos="fade-up"></i>
                <p data-aos="fade-up">مجموعة متحدثين من الخبراء والمختصين
                </p>
            </div>
        </div>
    </section>
    <section class="tire"></section>
    <section id="paths" class="animated fadeinDown">
        <div class="row educational-journey">
            <div class="col-md-12 step1">
                <h1 class="animated fadeinUp"> الرحلة التعليمية
                </h1>
            </div>
            <div class="col-lg-4 animated fadeinLeft step3">
                <i class="fas fa-check-circle fa-4x icon_paths icon" data-aos="fade-up"></i>
                <p data-aos="fade-up">
                    التطبيق العملي مشروع الاجتياز
                </p>
            </div>
            <div class="col-lg-4 animated fadeinLeft step2">
                <i class="fas fa-users fa-4x icon_paths icon" data-aos="fade-up"></i>
                <p class=" justify" data-aos="fade-up">
                    اللقاءات التفاعلية المباشرة Webinar
                </p>
            </div>
            <div class="col-lg-4 animated fadeinLeft step1">
                <i class="fas fa-chalkboard-teacher fa-4x icon_paths icon" data-aos="fade-up"></i>
                <p class="justify" data-aos="fade-up">
                    التعلم الذاتي ( المنصة التعليمية)
                </p>
            </div>
        </div>
        </div>
    </section>
    <section class="tire"></section>
    <section id="inst" class="animated fadeinDown">
        <div data-aos="fade-up">
            <h1 class="animated fadeinLeft"> المدربين </h1>
            <div class="container">
                <div class="row">
                    <div class="col-md-4" data-aos="fade-up">
                        <img class="inst-image img-sty2" src="images/SMAV_MATCH/Speakers/ahmed_h.png">
                        <p class="fullname"> د.احمد هوساوي </p>
                        <p>
                            الرئيس التنفيذي للتمريض في مجموعة فقيه
                        </p>
                    </div>
                    <div class="col-md-4" data-aos="fade-up">
                        <img class="inst-image img-sty2" src="images/SMAV_MATCH/Speakers/attar.png">
                        <p class="fullname"> د.عمار عطار </p>
                        <p>
                            استاذ طب المجتمع المساعد بجامعة ام القرى
                        </p>
                    </div>
                    <div class="col-md-4" data-aos="fade-up">
                        <img class="inst-image img-sty2" src="images/SMAV_MATCH/Speakers/saf.jpeg">
                        <p class="fullname"> د.سفر بتار </p>
                        <p>
                            مدير عام مركز التطوع الصحي بوزارة الصحة
                        </p>
                    </div>
                    <div class="col-md-4" data-aos="fade-up">
                        <img class="inst-image img-sty2" src="images/SMAV_MATCH/Speakers/Zm.jpg">
                        <p class="fullname"> د. محمد الزمزمي </p>
                        <p>
                            أخصائي تعليم طبي وممارس عام في طب الأسنان
                        </p>
                    </div>
                    <!-- //// -->
                    <div class="col-md-4" data-aos="fade-up">
                        <img class="inst-image img-sty2" src="images/SMAV_MATCH/Speakers/bad.jpg">
                        <p class="fullname"> د. المأمون بادحدح </p>
                        <p>
                            دكتوراه في الصحة العامة جامعة سدني
                        </p>
                    </div>
                    <div class="col-md-4" data-aos="fade-up">
                        <img class="inst-image img-sty2" src="images/SMAV_MATCH/Speakers/user.ico">
                        <p class="fullname"> د. لولو الوزان </p>
                        <p>
                            دكتوراه في التعليم الطبي
                        </p>
                    </div>
                    <!-- /// -->
                    <div class="col-md-4" data-aos="fade-up">
                        <img class="inst-image img-sty2" src="images/SMAV_MATCH/Speakers/bo_s.jpg">
                        <p class="fullname"> د. محمد بو سعد
                        </p>
                        <p>
                            دكتوراه في طب المجتمع جامعة بيتسبرغ بالولايات المتحدة الأمريكية
                        </p>
                    </div>
                    <div class="col-md-4" data-aos="fade-up">
                        <img class="inst-image img-sty2" src="images/SMAV_MATCH/Speakers/jas.png">
                        <p class="fullname"> د. جاسر عبدالله الشهري
                        </p>
                        <p>
                            المدير التنفيذي للشؤون الأكاديمية والتدريب بمدينة الملك عبدالله الطبية
                        </p>
                    </div>
                    <div class="col-md-4" data-aos="fade-up">
                        <img class="inst-image img-sty2" src="images/SMAV_MATCH/Speakers/user.ico">
                        <p class="fullname"> د. محمد عبدالرحمن الشبيلي
                        </p>
                        <p>
                            دكتوراه في التعليم الطبي من جامعة ليدز بالمملكة المتحدة
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="tire"></section>
    <section id="Registers_requir">
        <div class="row ">
            <div class="col-md-6">
                <div class="col-md-12">
                    <h1 class="animated fadeinUp"> متطلبات الانضمام للبرنامج
                    </h1>
                </div>
                <p class=" justify" data-aos="fade-up">
                    الشغف بالتطوع
                </p>
                <p class=" justify" data-aos="fade-up">
                    التخصص الصحي
                </p>
                <p class="justify" data-aos="fade-up">
                    الإلمام العلمي بمجال التخصص
                </p>
                <p data-aos="fade-up">
                    الانضمام لجهة / برنامج تطوعي
                </p>
                <p data-aos="fade-up">
                    الوقت للالتزام بالأنشطة والمهام
                </p>
            </div>
            <div class="col-md-6">
                <div class="row ">
                    <div class="col-md-12">
                        <h1 class="animated fadeinUp"> للتسجيل </h1>
                    </div>
                    <div class="col-lg-6 animated fadeinLeft">
                        <a href="sign_up_group"><i class="fas fa-users fa-4x icon_Reg icon" data-aos="fade-up"></i></a>
                        <p>
                            <a href="sign_up_group" data-aos="fade-up">
            للمجموعات
          </a>
                        </p>
                    </div>
                    <div class="col-lg-6 animated fadeinLeft">
                        <a href="sign_up_Individuals"><i class="fas fa-user fa-4x icon_Reg icon" data-aos="fade-up"></i></a>
                        <p>
                            <a href="sign_up_Individuals" data-aos="fade-up">
            
            للافراد
           
          </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="tire"></section>
    <section id="subecrip" class="animated fadeinDown">
        <div data-aos="fade-up">
            <h1 class="animated fadeinLeft"> شركاؤنا </h1>
            <div class="container">
                <div class="row">
                    <div class="col-md-3" data-aos="fade-up">
                        <img class="paths-image img-fluid " src="images/logos/commis.png">
                    </div>
                    <div class="col-md-3" data-aos="fade-up">
                        <img class="paths-image img-fluid " src="images/logos/binMah.png">
                    </div>
                    <div class="col-md-3" data-aos="fade-up">
                        <img class="paths-image img-fluid " src="images/logos/vol.png">
                    </div>
                    <div class="col-md-3" data-aos="fade-up">
                        <img class="paths-image img-fluid " src="images/logos/dmet2.png">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <%- include('./includes/footer') %>
        <script>
            $(function() {
                $(document).scroll(function() {
                    var $nav = $(".navbar-fixed-top");
                    $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
                });
            });
            $(document).ready(function() {
                $(".dropdown").hover(function() {
                    var dropdownMenu = $(this).children(".dropdown-menu");
                    if (dropdownMenu.is(":visible")) {
                        dropdownMenu.parent().toggleClass("open");
                    }
                });
            });
        </script>
</body>

</html>