<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>SMAV | HAJJ</title>
    <link rel="icon" href="images/SMAV_LOGO.png" type="images/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/v4-shims.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/Hajj.css?v=3">
    <link rel="stylesheet" href="css/main_style.css?v=3">
    <link rel="stylesheet" href="css/main.css?v=3">
</head>


<body>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top navbar-fixed-top bg-light animated fadeinUp">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                 

                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data toggle="dropdown">SMAV Hajj</a>
                        <div class="dropdown-menu">
  
                            <a href="#hajj-title" class="dropdown-item">من نحن</a>
                            <a href="#OurWay" class="dropdown-item">منهجيتنا</a>
                            <a href="#proramm_SMAV" class="dropdown-item"> المستفيدون  </a>

                            <a href="#ourJobs" class="dropdown-item"> ادوارنا في رحلة الحاج   </a>

                            <a href="#paths" class="dropdown-item">  المبادرات التطوعية </a>



                            



                            
                         
                        </div>
                    </div>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="whatwedo">برامجنا</a>

                        <div class="dropdown-menu">
                            <a href="/SMAV_HAJJ" class="dropdown-item">SMAV Hajj </a>
                            <a href="/smav_match" class="dropdown-item">Smav Match</a>
                            <a href="/SMAV_RELIEF" class="dropdown-item">Smav Relief</a>

                        </div>


                    </li>

                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data toggle="dropdown">التسجيل </a>
                        <div class="dropdown-menu">
                            <a href="sign_up_Individuals" class="dropdown-item">افراد </a>
                            <a href="sign_up_group" class="dropdown-item">مجموعات</a>
                        </div>
                    </div>
                    <li class="nav-item">
                        <a class="nav-link" href="/">الصفحة الرئيسة </a>
                    </li>
                </ul>
            </div>
            <a class="navbar-brand" href="/">
                <img alt="SMAV Academy" id="header-logo" src="./images/LOGO-01.png">
            </a>
        </div>
    </nav>
    <section class="tire"></section>
    <section id="hajj-title">
        <div class="container" data-aos="fade-up">
            <div class="row">
                <div class="col-lg-6">
                    <img src="images/Hajj/front_hajj.jpg" class="img-fluid">
                </div>
                <div class="col-lg-6">
                    <br>
                    <p class="mobiling animated fadeInUp ease-out-circ d2 a-1 f2 fw3">
                        أكاديمية تأهيل متكامل للمتطوع الصحي العامل في خدمة ضيوف الرحمن ؛ ليقدم الخدمة الصحية الميدانية بتمكن واقتدار، نوفر إطارًا مبتكرًا ذا أثر وقيمة في تحسين تجربة الحاج الصحية، وتحسين تجربة التعلم والتعليم في التطوع الصحي
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="tire"></section>
    <section id="OurWay">
        <div class="container" data-aos="fade-up">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="animated fadeinUp"> منهجيتنا </h1>
                    <p class="ourWayDist animated fadeInUp">
                        تركز منهجيتنا على استراتيجية التعليم المبني على خدمة المجتمع والذي يسهم في تطوير جدارات طلبة التخصصات الطبية، وحديثي التخرج وتعزيز ثقتهم. ولتوفير متطوعين صحيين أكفاء بالمعارف والمهارات والروح الإيجابية لتلبية احتياجات الحجاج والمعتمرين. حاولنا في هذا
                        البرنامج تصميم وتطوير وتطبيق البرنامج الذي يلبي تلك الاحتياجات منطلقاً من منهجيات التعليم الطبي ونتوقع أن يسهم هذا المشروع في تقديم عناية صحية في الميدان وبسبيل موثوق بالتعاون مع الجهات الصحية والتطوعية العاملة في الحج.
                    </p>
                </div>
                <div class="col-lg-12">
                </div>
            </div>
    </section>
    <section class="tire"></section>
    <section id="proramm_SMAV">
        <div class="row">
            <div class="col-md-12">
                <h1 class="animated fadeinUp"> المستفيدون </h1>
            </div>
            <div class="col-lg-3 animated fadeinLeft">
                <i class="fas fa-clinic-medical fa-4x icon_programm icon" data-aos="fade-up"></i>
                <p class="justify" data-aos="fade-up">
                    طلاب وطالبات الكليات الصحية في جميع جامعات المملكة
                </p>
            </div>
            <div class="col-lg-3 animated fadeinLeft">
                <i class="fas fa-laptop-medical fa-4x icon_programm icon" data-aos="fade-up"></i>
                <p class=" justify" data-aos="fade-up">
                    الممارسون الصحيون المهتمون والمشاركون بالعمل الصحي التطوعي
                </p>
            </div>
            <div class="col-lg-3 animated fadeinLeft">
                <i class="fas fa-user-md fa-4x icon_programm icon" data-aos="fade-up"></i>
                <p data-aos="fade-up">
                    الجهات والبرامج المعنية بالتطوع الصحي
                </p>
            </div>
            <div class="col-lg-3 animated fadeinLeft">
                <i class="fas fa-user-md fa-4x icon_programm icon" data-aos="fade-up"></i>
                <p data-aos="fade-up">
                    الفرق التطوعية
                </p>
            </div>
        </div>
    </section>
    <section class="tire"></section>
    <section class="tire"></section>
    <section id="ourJobs" class="animated fadeInLeft">
        <div class="col-md-12">
            <h1 class="animated fadeinUp">
                أدوارنا في رحلة الحاج
            </h1>
        </div>
        <div class="container" data-aos="fade-up">

            <div class="row">
                <div class="custom-div general">
                    <div class="custom-div">
                        <img class="OurJobs-image img-fluid img-sty2" src="images/Hajj/Research.JPG">
                    </div>
                    <div class="dist_OurJobs">
                        <h3 class=" animated fadeInLeft">
                            أبحاث صحة الحاج
                        </h3>
                        <ul class="arabic-list">
                            <li>
                                أفكار بحثية تلبي الاحتياج
                            </li>
                            <li>
                                صياغة أسئلة بحثية
                            </li>
                            <li>
                                كتابة أوراق علمية
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="custom-div general">

                    <div class="custom-div">
                        <img class="OurJobs-image img-fluid img-sty2" src="images/Hajj/emer.JPG">
                    </div>
                    <div class="dist_OurJobs">
                        <h3 class=" animated fadeInLeft">
                            الحاج في حالة الطوارئ
                        </h3>
                        <ul class="arabic-list">
                            <li>
                                الاستجابة العاجلة والمشاركة في إدارة الحالة
                            </li>
                            <li>
                                المساعدة في عمليات التحكم والسيطرة
                            </li>
                            <li>
                                التقييم الأولي والفرز
                            </li>
                        </ul>
                    </div>

                </div>

            </div>


            <div class="row">
                <div class="custom-div general">

                    <div class="custom-div">
                        <img class="OurJobs-image img-fluid img-sty2" src="images/Hajj/hospital.JPG">
                    </div>
                    <div class="dist_OurJobs">
                        <h3 class=" animated fadeInLeft">
                            الحاج المصاب في المركز الصحي و المشفى
                        </h3>
                        <ul class="arabic-list">
                            <li>
                                التنظيم و الفرز الأولي للحالات
                            </li>
                            <li>
                                أخذ العلامات الحيوية
                            </li>
                            <li>
                                مساعدة الأطباء المتخصصين
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="custom-div general">

                    <div class="custom-div">
                        <img class="OurJobs-image img-fluid img-sty2" src="images/Hajj/enjury.JPG">
                    </div>
                    <div class="dist_OurJobs">
                        <h3 class=" animated fadeInLeft">
                            الحاج المصاب في المشاعر
                        </h3>
                        <ul class="arabic-list">
                            <li>
                                الضماد
                            </li>
                            <li>
                                الفحوصات الحيوية
                            </li>
                            <li>
                                التقييم الأولي للحالة
                            </li>
                        </ul>
                    </div>
                </div>

            </div>

            <div class="row">
                
                <div class="custom-div"></div>

                <div class="custom-div">

                    <div class="custom-div">
                        <img class="OurJobs-image img-fluid img-sty2" src="images/Hajj/good.JPG">
                    </div>
                    <div class="dist_OurJobs">
                        <h3 class=" animated fadeInLeft">
                            الحاج المعافى
                        </h3>
                        <ul class="arabic-list">
                            <li>
                                تقديم المعلومة الصحية
                            </li>
                            <li>
                                توضيح الطرق الوقائية
                            </li>
                            <li>
                                التدريب على بعض السلوكيات الصحية
                            </li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>
    </section>
    <section id="paths" class="animated fadeinDown">
        <div class="row reorder">
            <div class="col-md-12 step1">
                <h1 class="animated fadeinUp"> المبادرات التطوعية
                </h1>
            </div>
            <div class="col-lg-2 animated fadeinLeft step7">
                <h3>
                    6
                </h3>
                <p class="justify" data-aos="fade-up">
                    فرق الطوارئ و الجاهزية للطوارئ
                </p>
            </div>
            <div class="col-lg-2 animated fadeinLeft step6">
                <h3>
                    5
                </h3>
                <p class="justify" data-aos="fade-up">
                    صحتي عبادة التطوع في المساجد
                </p>
            </div>
            <div class="col-lg-2 animated fadeinLeft step5">
                <h3>
                    4
                </h3>
                <p class="justify" data-aos="fade-up">
                    التطوع في المراكز الصحية
                </p>
            </div>
            <div class="col-lg-2 animated fadeinLeft step4">
                <h3>
                    3
                </h3>
                <p class="justify" data-aos="fade-up">
                    أبحاث الحج الصحية
                </p>
            </div>
            <div class="col-lg-2 animated fadeinLeft step3">
                <h3>
                    2
                </h3>
                <p class=" justify" data-aos="fade-up">
                    منافع الحج الصحية
                </p>
            </div>
            <div class="col-lg-2 animated fadeinLeft step2">
                <h3>
                    1
                </h3>
                <p data-aos="fade-up">
                    التطوع الصحي الميداني
                </p>
            </div>
        </div>
        </div>
    </section>

    <%- include('./includes/footer') %>
        <script>
            $(function() {
                $(document).scroll(function() {
                    var $nav = $(".navbar-fixed-top");
                    $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
                });
            });
            $(document).ready(function() {
                $(".dropdown").hover(function() {
                    var dropdownMenu = $(this).children(".dropdown-menu");
                    if (dropdownMenu.is(":visible")) {
                        dropdownMenu.parent().toggleClass("open");
                    }
                });
            });
        </script>
</body>

</html>